<style>
    .small-input{
        width:100px;
    }
</style>
<div class="row">
    <div class="col-md-8 col-xs-12">
        <div class="table-section table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                <tr class="btn-primary">
                    <th>State</th>
                    <th>ami-Id</th>
                    <th>Name</th>
                    <th>Platform</th>
                    <th>rootDevice</th>
                    <th>Virtual-type</th>
                    <th>Arch</th>
                    <th>CreateTime</th>
                </tr>
                </thead>
                <tbody>
                <tr class="btn-default" ng-repeat = 'item in ami.outamiIds | startFrom : currentPage*pageSize | limitTo : pageSize' ng-click="ami.setCurrentamiID(item)">
                    <td ng-show="item.state=='available'"><div class="green circle double-border"></div></td>
                    <td ng-show="item.state=='in-use'"><div class="green circle double-border"></div></td>
                    <td>{{item.imageId}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.platform}}</td>
                    <td>{{item.rootDeviceType}}</td>
                    <td>{{item.virtualizationType}}</td>
                    <td>{{item.architecture}}</td>
                    <td>{{item.creationDate | date : 'medium'}}</td>
                </tr>
                </tbody>
            </table>
            <img src="assets/img/loading.gif" ng-show="ebsVolume.loading" width="50px;" height="50px;">
        </div>
        <div style="text-align:center" ng-show="ami.outamiIds">
            <div class="btn-group mr-2" role="group">
                <button type="button" class="btn btn-success btn-sm" ng-click="currentPage=currentPage-1" ng-disabled="currentPage==0" style="width:80px;">previous</button>
                <button type="button" class="btn btn-success btn-sm" style="width:80px;">{{currentPage+1}}/{{numberOfPages()}}</button>
                <button type="button" class="btn btn-success btn-sm" ng-click="currentPage=currentPage+1" ng-disabled="currentPage >= ami.outamiIds.length/pageSize - 1 || !ami.outamiIds" style="width:80px;">next</button>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-xs-12">
        <div class="instance-view">
            <div class="hg_accordion_element style4" style="width:450px;">
                <h3 style="position:relative;"><img src="assets/img/volLogo.png" width="60" height="60">&nbsp;&nbsp;{{ami.currentAmiId.amiId}} <button type="button" data-toggle="modal" data-target="#tagModal" class="btn btn-default btn-sm" style="position:absolute;right:20px;top:90px;" ng-disabled="!ami.outamiIds">Tags</button></h3>
                <div class="th-accordion">
                    <div class="acc-group">
                        <button data-toggle="collapse" data-target="#ist2" class="collapsed">Properties<span class="acc-icon"></span></button>
                        <div id="ist2" ng-class="collapsePanel ?'collapse in':'collapse'">
                            <div class="content">
                                <div class="form-inline detail-item">
                                    <div class="col-xs-3">
                                        <label for="" class="box-label pull-right">IOPS:</label>
                                    </div>
                                    <div class="col-xs-9">
                                        <input class="form-control" type="text" id="" placeholder="/dev/sda1" value="{{ebsVolume.currentVolume.iops}}">
                                    </div>
                                </div>
                                <div class="form-inline detail-item">
                                    <div class="col-xs-3">
                                        <label for="" class="box-label pull-right">attachInfo:</label>
                                    </div>
                                    <div class="col-xs-9">
                                        <div style="min-height:100px; overflow:auto">
                                            <table ng-repeat="item in ebsVolume.currentVolume.attachments" class="table table-striped" style="background:#f5f5f5;">
                                                <tr>
                                                    <td>instanceId</td>
                                                    <td>{{item.instanceId}}</td>
                                                </tr>
                                                <tr>
                                                    <td>state</td>
                                                    <td>{{item.state}}</td>
                                                </tr>
                                                <tr>
                                                    <td>attachTime</td>
                                                    <td>{{item.attachTime}}</td>
                                                </tr>
                                                <tr>
                                                    <td>deleteOnTermination</td>
                                                    <td>{{item.deleteOnTermination}}</td>
                                                </tr>
                                                <tr>
                                                    <td>device</td>
                                                    <td>{{item.device}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-inline detail-item">
                                    <div class="col-xs-3">
                                        <label for="" class="box-label pull-right">snapShot:</label>
                                    </div>
                                    <div class="col-xs-9">
                                        <input class="form-control small-input" type="text" id="" placeholder="Subnet ID" value="{{ebsVolume.currentVolume.snapshotId}}">
                                    </div>
                                </div>
                                <div class="form-inline detail-item">
                                    <div class="col-xs-3">
                                        <label for="" class="box-label pull-right">Alarm : </label>
                                    </div>
                                    <div class="col-xs-9">
                                        <input class="form-control small-input" type="text" id="" placeholder="VPC ID" value="{{}}" style="margin-left:18px;">
                                    </div>
                                </div>
                                <div class="form-inline detail-item">
                                    <div class="col-xs-3">
                                        <label for="" class="box-label pull-right">KMS key ARN:</label>
                                    </div>
                                    <div class="col-xs-9">
                                        <input class="form-control" type="text" id="" placeholder="RoleName" value="{{ami.currentVolume.kmsKeyId}}">
                                    </div>
                                </div>
                                <div class="form-inline detail-item">
                                    <div class="col-xs-3">
                                        <label for="" class="box-label pull-right">createTime:</label>
                                    </div>
                                    <div class="col-xs-9">
                                        <input class="form-control" type="text" id="" placeholder="RoleName" value="{{ami.currentVolume.createTime}}" style="margin-left:11px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Button trigger modal -->

    <!-- Modal -->
    <div class="modal fade" id="tagModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Tags</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr class="btn-success">
                            <th>KEY</th>
                            <th>VALUE</th>
                            <th ng-show="editMode"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in ami.currentAmiId.tags">
                            <td>{{item.key}}</td>
                            <td>{{item.value}}</td>
                            <td ng-show="editMode"><button class="btn btn-danger btn-sm">X</button></td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-warning btn-sm" ng-click="setEditMode()">Edit</button>
                    <button ng-show="editMode" type="button" class="btn btn-warning btn-sm" ng-click="setCreateMode()">create</button>
                    <input type="text" class="small-input " placeholder="KEY" ng-show="inputMode">
                    <input type="text" class="small-input " placeholder="VALUE" ng-show="inputMode">
                    <button type="button" class="btn btn-success btn-sm" ng-show="inputMode">Save</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>