<style>
	.small-input{
		width:100px;
	}
</style>
<div class="row">
	<div class="col-md-8 col-xs-12">
		<div class="table-section table-responsive">
			<table class="table table-bordered table-hover">
				<thead>
				<tr class="btn-primary">
					<th>State</th>
					<th>volume-Id</th>
					<th>Name</th>
					<th>Type</th>
					<th>Size</th>
					<th>Encrypted</th>
					<th>AvZone</th>
					<th>Status</th>
				</tr>
				</thead>
				<tbody>
				<tr class="btn-default" ng-repeat = 'item in ebsVolume.outvolumes | startFrom : currentPage*pageSize | limitTo : pageSize' ng-click="ebsVolume.setCurrentVolume(item)">
					<td ng-show="item.state=='available'"><div class="dodgerblue circle double-border"></div></td>
					<td ng-show="item.state=='in-use'"><div class="green circle double-border"></div></td>
					<td>{{item.volumeId}}</td>
					<td>{{item.name}}</td>
					<td>{{item.volumeType}}</td>
					<td>{{item.size}}</td>
					<td>{{item.encrypted}}</td>
					<td>{{item.availabilityZone}}</td>
					<td>{{}}</td>
				</tr>
				</tbody>
			</table>
			<img src="assets/img/loading.gif" ng-show="ebsVolume.loading" width="50px;" height="50px;">
		</div>
		<div style="text-align:center" ng-show="ebsVolume.outvolumes">
			<div class="btn-group mr-2" role="group">
				<button type="button" class="btn btn-success btn-sm" ng-click="currentPage=currentPage-1" ng-disabled="currentPage==0" style="width:80px;">previous</button>
				<button type="button" class="btn btn-success btn-sm" style="width:80px;">{{currentPage+1}}/{{numberOfPages()}}</button>
				<button type="button" class="btn btn-success btn-sm" ng-click="currentPage=currentPage+1" ng-disabled="currentPage >= ebsVolume.outvolumes.length/pageSize - 1 || !ebsVolume.outvolumes" style="width:80px;">next</button>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-xs-12">
		<div class="instance-view">
			<div class="hg_accordion_element style4" style="width:450px;">
				<h3 style="position:relative;"><img src="assets/img/volLogo.png" width="60" height="60">&nbsp;&nbsp;{{ebsVolume.currentVolume.volumeId}} <button type="button" data-toggle="modal" data-target="#tagModal" class="btn btn-default btn-sm" style="position:absolute;right:20px;top:90px;" ng-disabled="!ebsVolume.currentVolume">Tags</button></h3>
				<div class="th-accordion">
					<div class="acc-group">
						<div id="ist1">
							<div class="content" style="height:60px;">
								<!-- Example single danger button -->
								<div class="btn-group" style="position:absolute;">
									<button type="button" class="btn btn-warning">Action</button>
									<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class="caret"></span>
										<span class="sr-only">Toggle Dropdown</span>
									</button>
									<ul class="dropdown-menu">
										<li><a href="#">Start</a></li>
										<li><a href="#">Stop</a></li>
										<li><a href="#">Terminate</a></li>
										<li><a href="#">Reboot</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="acc-group">
						<button data-toggle="collapse" data-target="#ist2" class="collapsed">Properties<span class="acc-icon"></span></button>
						<div id="ist2" ng-class="collapsePanel ?'collapse in':'collapse'">
							<div class="content">
								<div class="form-inline detail-item">
									<div class="col-xs-3">
										<label for="" class="box-label pull-right">IOPS:</label>
									</div>
									<div class="col-xs-9">
										<input class="form-control" type="text" id="" placeholder="/dev/sda1" value="{{ebsVolume.currentVolume.iops}}">
									</div>
								</div>
								<div class="form-inline detail-item">
									<div class="col-xs-3">
										<label for="" class="box-label pull-right">attachInfo:</label>
									</div>
									<div class="col-xs-9">
										<div style="min-height:100px; overflow:auto">
											<table ng-repeat="item in ebsVolume.currentVolume.attachments" class="table table-striped" style="background:#f5f5f5;">
												<tr>
													<td>instanceId</td>
													<td>{{item.instanceId}}</td>
												</tr>
												<tr>
													<td>state</td>
													<td>{{item.state}}</td>
												</tr>
												<tr>
													<td>attachTime</td>
													<td>{{item.attachTime}}</td>
												</tr>
												<tr>
													<td>deleteOnTermination</td>
													<td>{{item.deleteOnTermination}}</td>
												</tr>
												<tr>
													<td>device</td>
													<td>{{item.device}}</td>
												</tr>
											</table>
										</div>
									</div>
								</div>

								<div class="form-inline detail-item">
									<div class="col-xs-3">
										<label for="" class="box-label pull-right">snapShot:</label>
									</div>
									<div class="col-xs-9">
										<input class="form-control small-input" type="text" id="" placeholder="Subnet ID" value="{{ebsVolume.currentVolume.snapshotId}}">
									</div>
								</div>
								<div class="form-inline detail-item">
									<div class="col-xs-3">
										<label for="" class="box-label pull-right">Alarm : </label>
									</div>
									<div class="col-xs-9">
										<input class="form-control small-input" type="text" id="" placeholder="VPC ID" value="{{}}" style="margin-left:18px;">
									</div>
								</div>
								<div class="form-inline detail-item">
									<div class="col-xs-3">
										<label for="" class="box-label pull-right">KMS key ARN:</label>
									</div>
									<div class="col-xs-9">
										<input class="form-control" type="text" id="" placeholder="RoleName" value="{{ebsVolume.currentVolume.kmsKeyId}}">
									</div>
								</div>
								<div class="form-inline detail-item">
									<div class="col-xs-3">
										<label for="" class="box-label pull-right">createTime:</label>
									</div>
									<div class="col-xs-9">
										<input class="form-control" type="text" id="" placeholder="RoleName" value="{{ebsVolume.currentVolume.createTime}}" style="margin-left:11px;">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Button trigger modal -->

	<!-- Modal -->
	<div class="modal fade" id="tagModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title" id="exampleModalLabel">Tags</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<table class="table table-bordered">
						<thead>
						<tr class="btn-success">
							<th>KEY</th>
							<th>VALUE</th>
							<th ng-show="editMode"></th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="item in ebsVolume.currentVolume.tags">
							<td>{{item.key}}</td>
							<td>{{item.value}}</td>
							<td ng-show="editMode"><button class="btn btn-danger btn-sm">X</button></td>
						</tr>
						</tbody>
					</table>
					<button type="button" class="btn btn-warning btn-sm" ng-click="setEditMode()">Edit</button>
					<button ng-show="editMode" type="button" class="btn btn-warning btn-sm" ng-click="setCreateMode()">create</button>
					<input type="text" class="small-input " placeholder="KEY" ng-show="inputMode">
					<input type="text" class="small-input " placeholder="VALUE" ng-show="inputMode">
					<button type="button" class="btn btn-success btn-sm" ng-show="inputMode">Save</button>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>