<div class="row">
	<div class="col-md-8 col-xs-12">
		<div class="table-section">
			<div class="panel panel-danger">
				<div ng-repeat = 'groupItem in group.outgroups | startFrom : currentPage*pageSize | limitTo : pageSize'>
					<div class="panel-heading btn-warning" ng-click="group.setCurrentGroup(groupItem)">{{groupItem.autoScalingGroupName}}</div>
					<div class="panel-body">
							  	<span  ng-repeat="item in groupItem.instances">
							    <div ng-show="item.healthStatus=='Healthy'" class="squre-green"></div><div ng-show="item.healthStatus!='Healthy'" class="squre-red"></div><span class="left">{{item.instanceId}}</span>
							  	</span>
					</div>
				</div>

			</div>
			<img src="assets/img/loading.gif" width="50px;" height="50px;" ng-show="group.loading">
		</div>
		<div style="text-align:center" ng-show="group.outgroups">
			<div class="btn-group mr-2" role="group">
				<button type="button" class="btn btn-success btn-sm" ng-click="currentPage=currentPage-1" ng-disabled="currentPage==0" style="width:80px;">previous</button>
				<button type="button" class="btn btn-success btn-sm" style="width:80px;">{{currentPage+1}}/{{numberOfPages()}}</button>
				<button type="button" class="btn btn-success btn-sm" ng-click="currentPage=currentPage+1" ng-disabled="currentPage >= group.outgroups.length/pageSize - 1 || !group.outgroups" style="width:80px;">next</button>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-xs-12">
		<div class="instance-view">
			<div class="hg_accordion_element style4" style="width:450px;">
				<h3 style="position:relative;"><img src="./assets/img/asglogo.png" width="60" height="60">{{group.currentGroup.autoScalingGroupName}}<button type="button" data-toggle="modal" data-target="#tagModal" class="btn btn-default btn-sm" style="position:absolute;right:20px;top:60px;" ng-disabled="!group.currentGroup">Tags</button></h3>
				<div class="th-accordion">
					<div class="acc-group">
						<div id="ist1" class="collapse in" aria-expanded="true">
							<div class="content" style="height:60px;">
								<button class="btn btn-warning" ng-click="saveMode=!saveMode" ng-show="!saveMode">Edit</button>
								<button class="btn btn-warning" ng-click="saveMode=!saveMode" ng-show="saveMode">Save</button>
							</div>
						</div>
					</div>
					<div class="acc-group">
						<button data-toggle="collapse" data-target="#gr1" class="collapsed">Properties<span class="acc-icon"></span></button>
						<div id="gr1" ng-class="collapsePanel ?'collapse in':'collapse'">
							<div class="content">
								<div class="row">
									<div class="form-group w90 ml10 mt10 mb0 left">
										<label class="box-label" for="now">now:</label>
										<input type="text" class="form-control" id="now">
									</div>
									<div class="form-group w90 ml10 mt10 mb0 left">
										<label class="box-label" for="desired">desired:</label>
										<input type="text" class="form-control" id="desired" value="{{group.currentGroup.desiredCapacity}}">
									</div>
									<div class="form-group w90 ml10 mt10 mb0 left">
										<label class="box-label" for="max">max:</label>
										<input type="text" class="form-control" id="max" value="{{group.currentGroup.maxSize}}">
									</div>
									<div class="form-group w90 ml10 mt10 mb0 left">
										<label class="box-label" for="min">min:</label>
										<input type="text" class="form-control" id="min" value="{{group.currentGroup.minSize}}">
									</div>
								</div>
								<div>
									<div class="form-inline detail-item">
										<div class="col-xs-3">
											<label class="box-label pull-right">LC:</label>
										</div>
										<div class="col-xs-9">
											<select class="form-control w200">
												<option  ng-repeat='item in group.outgroups'>{{item.launchConfigurationName}}</option>
											</select>
										</div>
									</div>
									<div class="form-inline mt10 detail-item">
										<div class="col-xs-3">
											<label class="box-label pull-right">healthChkType:</label>
										</div>
										<div class="col-xs-9">
											<select class="form-control w200">
												<option  ng-repeat='item in group.outgroups'>{{item.healthCheckType}}</option>
											</select>
										</div>
									</div>
									<div class="form-inline mt10 detail-item">
										<div class="col-xs-3">
											<label for="" class="box-label pull-right">GracePeriod:</label>
										</div>
										<div class="col-xs-9">
											<input class="w100 form-control" type="text" id="" placeholder="sec" value="{{group.currentGroup.healthCheckGracePeriod}}">
										</div>
										<div class="col-xs-3">
											<label for="" class="box-label pull-right">CoolDwn:</label>
										</div>
										<div class="col-xs-9">
											<input class="w100 form-control" type="text" id="" placeholder="VPC ID" value="{{group.currentGroup.defaultCooldown}}">
										</div>
									</div><br>
									<div class="row detail-item">
										<div class="col-xs-3">
											<label for="" class="box-label pull-right left">AvZones:</label>
										</div>
										<div class="col-xs-9">
												<span  ng-repeat="item in group.currentGroup.availabilityZones">
												<div class="squre-green ml20"></div><span class="left">{{item}}</span>
												</span>
										</div>
									</div>
									<div class="form-inline mt10 mb10 detail-item">
										<div class="col-xs-3">
											<label class="box-label pull-right">CreateTime:</label>
										</div>
										<div class="col-xs-9">
											<input type="text" class="form-control w150" name="" value="{{group.currentGroup.createdTime | date:'medium'}}">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="acc-group">
						<button data-toggle="collapse" data-target="#gr2" class="collapsed">Loadbalancers<span class="acc-icon"></span></button>
						<div id="gr2" ng-class="collapsePanel ?'collapse in':'collapse'">
							<div class="content" style="min-height:130px;">
								<div class="row ml30">
									<div class="col-xs-6">
										<div class="mt10">
											<div  ng-repeat="item in group.currentGroup.loadBalancerNames">
												<span>{{item}}</span><button class="ml10 btn btn-danger btn-xs" ng-show="saveMode">remove</button>
											</div>
										</div>
									</div>
									<div class="col-xs-6">
										<div class="h100 scroll">
											<div class="checkbox">
												<label>
													LoadBal6
													<input type="checkbox" value="" style="display:none">
													<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
												</label>
												<label class="mt10">
													LoadBal6
													<input type="checkbox" value="" style="display:none">
													<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
												</label>
												<label class="mt10">
													LoadBal6
													<input type="checkbox" value="" style="display:none">
													<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
												</label>
												<label class="mt10">
													LoadBal6
													<input type="checkbox" value="" style="display:none">
													<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="acc-group">
						<button data-toggle="collapse" data-target="#gr3" class="collapsed">Subnets<span class="acc-icon"></span></button>
						<div id="gr3" ng-class="collapsePanel ?'collapse in':'collapse'">
							<div class="content" style="min-height:130px;">
								<div class="row ml30">
									<div class="col-xs-6">
										<div class="mt10" ng-repeat="item in group.currentGroupSubnets">
											<span>{{item}}</span><button class="ml10 btn btn-danger btn-xs" ng-show="saveMode">remove</button>
										</div>
									</div>
									<div class="col-xs-6">
										<div class="h100 scroll">
											<div class="checkbox">
												<label>
													Subnet1
													<input type="checkbox" value="" style="display:none">
													<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
												</label><br>
												<label class="mt10">
													Subnet4
													<input type="checkbox" value="" style="display:none">
													<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
												</label><br>
												<label class="mt10">
													Subnet5
													<input type="checkbox" value="" style="display:none">
													<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
												</label><br>
												<label class="mt10">
													Subnet6
													<input type="checkbox" value="" style="display:none">
													<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
												</label><br>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="acc-group">
						<button data-toggle="collapse" data-target="#gr4" class="collapsed">Scaling Policies<span class="acc-icon"></span></button>
						<div id="gr4" ng-class="collapsePanel ?'collapse in':'collapse'">
							<div class="content" style="min-height:100px;">
								<div class="form-group">
									<a href="#" ng-repeat="item in group.currentPolicies" class="list-group-item">{{item}}</a>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="tagModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title" id="exampleModalLabel">Tags</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table class="table table-bordered">
					<thead>
					<tr class="btn-success">
						<th>KEY</th>
						<th>VALUE</th>
						<th ng-show="editMode"></th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="item in group.currentGroup.tags">
						<td>{{item.key}}</td>
						<td>{{item.value}}</td>
						<td ng-show="editMode"><button class="btn btn-danger btn-sm">X</button></td>
					</tr>
					</tbody>
				</table>
				<button type="button" class="btn btn-warning btn-sm" ng-click="setEditMode()">Edit</button>
				<button ng-show="editMode" type="button" class="btn btn-warning btn-sm" ng-click="setCreateMode()">create</button>
				<input type="text" class="small-input " placeholder="KEY" ng-show="inputMode">
				<input type="text" class="small-input " placeholder="VALUE" ng-show="inputMode">
				<button type="button" class="btn btn-success btn-sm" ng-show="inputMode">Save</button>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>