
<style>
.content-wrapper{
  margin:0!important;
}
</style>
  <span align="center" id="logo" class="op_title title"><i>A x o n</i></span>
<img src="assets/img/start.gif" style="position: absolute;top: 50%;left: 50%;width: 175px;height: 175px;margin-top: -50px; margin-left: -50px;">

