<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Cascade Style Sheets -->
    <link rel="stylesheet" type="text/css" href="./public/assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./public/assets/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="./public/assets/css/style.css">
    <style>
        .right-side{
            margin:0px;
        }
    </style>
</head>
<body>
<div class="container-fluid">

    <div class="row" style="width:1000px;margin:0 auto;margin-top:100px;">
        <div class="DB-P-n">
            <div class="DB-Vd-e">
                <svg enable-background="new 0 0 600 350" id="awsinfographic" version="1.1" viewBox="0 0 600 350">
                    <defs>
                        <clipPath id="rdsBoxClip">
                            <path d="m 581.1,84 -135.3,0 c -6.8,0 -12.4,5.5 -12.4,12.4 l 0,24.6 c 0,6.8 5.5,12.4 12.4,12.4 l 135.3,0 c 6.8,0 12.4,-5.5 12.4,-12.4 l 0,-24.7 C 593.4,89.5 587.9,84 581.1,84 Z"></path>
                        </clipPath>
                        <clipPath id="elbBoxClip">
                            <path d="m 162,198.3 -122,0 0,-48 122,0 c 1.7,0 3,1.3 3,3 l 0,42 c 0,1.6 -1.3,3 -3,3 z"></path>
                        </clipPath>
                        <clipPath id="ebsBoxClip">
                            <path d="m 591,297.3 -122,0 0,-48 122,0 c 1.7,0 3,1.3 3,3 l 0,42 c 0,1.6 -1.3,3 -3,3 z"></path>
                        </clipPath>
                        <clipPath id="asgBoxClip">
                            <path d="m 394,264.3 c 0,1.7 -1.3,3 -3,3 l -184,0 c -1.7,0 -3,-1.3 -3,-3 l 0,-34 c 0,-1.7 1.3,-3 3,-3 l 184,0 c 1.7,0 3,1.3 3,3 l 0,34 z"></path>
                        </clipPath>
                        <clipPath id="zoneBoxClip">
                            <path d="m 394,222.3 c 0,1.7 -1.3,3 -3,3 l -184,0 c -1.7,0 -3,-1.3 -3,-3 l 0,-142 c 0,-1.7 1.3,-3 3,-3 l 184,0 c 1.7,0 3,1.3 3,3 l 0,142 z"></path>
                        </clipPath>
                        <clipPath id="dynDsBoxClip">
                            <path d="m 581.1,186.1 -135.3,0 c -6.8,0 -12.4,5.5 -12.4,12.4 l 0,24.7 c 0,6.8 5.5,12.4 12.4,12.4 l 135.3,0 c 6.8,0 12.4,-5.5 12.4,-12.4 l 0,-24.7 c -0.1,-6.9 -5.6,-12.4 -12.4,-12.4 z"></path>
                        </clipPath>
                        <clipPath id="lambdaBoxClip">
                            <path d="m 391,335.3 -152,0 0,-48 152,0 c 1.7,0 3,1.3 3,3 l 0,42 c 0,1.6 -1.3,3 -3,3 z"></path>
                        </clipPath>
                    </defs>
                    <g id="g5">
                        <g id="cloud">
                            <path d="m 444.1,113.3 c 0.5,-3.8 0.7,-7.6 0.7,-11.5 0,-51 -41.3,-92.3 -92.2,-92.3 -28.6,0 -54.2,13.1 -71.1,33.5 -7.1,-6.7 -16.6,-10.8 -27,-10.8 -6.4,0 -12.4,1.5 -17.8,4.3 C 230.3,16.4 211.8,1.8 190,1.8 c -27.1,0 -49.1,22.5 -49.1,50.4 0,2.1 0.1,4.2 0.4,6.2 -19.6,8.9 -32.9,26.4 -32.9,46.5 0,18.6 11.4,35 28.6,44.3 -23.2,14.9 -38.1,39.3 -38.1,65.4 0,45 44.1,82.6 98.6,82.6 40.3,0 148.2,0 191.6,0 64.5,0 116.8,-44.3 116.8,-97.7 0,-36.8 -25.1,-69.9 -61.8,-86.2 z" id="path7" style="fill:#b4e5f9"></path>
                        </g>
                        <g id="ec2Container">
                            <path d="m 392,45.3 c 1.1,0 2,0.9 2,2 l 0,217.8 c 0,1.1 -0.8,2.2 -1.9,2.2 l -186,0 c -1.1,0 -2.1,-1.1 -2.1,-2.2 l 0,-217.8 c 0,-1.1 1,-2 2.1,-2 l 185.9,0 m 0.1,-3 -186,0 c -2.8,0 -5.1,2.2 -5.1,5 l 0,217.8 c 0,2.8 2.3,5.2 5.1,5.2 l 186,0 c 2.8,0 4.9,-2.4 4.9,-5.2 l 0,-217.8 c 0,-2.8 -2.2,-5 -4.9,-5 l 0,0 z" id="path13" style="fill:#ffffff"></path>
                            <path d="m 396,265.8 c 0,1.9 -1.6,3.5 -3.5,3.5 l -186,0 c -1.9,0 -3.5,-1.6 -3.5,-3.5 l 0,-218 c 0,-1.9 1.6,-3.5 3.5,-3.5 l 186,0 c 1.9,0 3.5,1.6 3.5,3.5 l 0,218 z" id="path11" style="clip-rule:evenodd;fill:#ffffff;fill-rule:evenodd"></path>
                            <g class="DB-Vd-c DB-Vd-a DB-Vd-h" clip-path="url(#zoneBoxClip)" id="zoneBox">
                                <path class="DB-Vd-o" d="m 394,222.3 c 0,1.7 -1.3,3 -3,3 l -184,0 c -1.7,0 -3,-1.3 -3,-3 l 0,-142 c 0,-1.7 1.3,-3 3,-3 l 184,0 c 1.7,0 3,1.3 3,3 l 0,142 z" id="zoneBoxPath"></path>
                                <path d="m 390,118.8 -180,0" id="line17" style="fill:none;stroke:#ffffff;stroke-miterlimit:10"></path>
                                <g id="g151">
                                    <text class="DB-Vd-j" id="zoneCountValueTxt" x="219.04367" y="103.78374">
                                        <tspan class="DB-Vd-m" id="zoneCountValue"><!-- {{$axonStorage.dashboardStatsObj.zoneCount}} -->
                                            <tspan> Availability Zones</tspan>
                                        </tspan>
                                    </text>
                                </g>
                                <g id="instancesPart" transform="translate(0,-4)">
                                    <g id="g35">
                                        <text class="DB-Vd-i" id="ec2sCountValueText" x="323" y="178.91609">
                                            <tspan id="ec2sCountValue"><!-- {{$axonStorage.dashboardStatsObj.ec2sCount}} --></tspan>
                                        </text>
                                        <text id="text3614-0" style="fill:#ffffff" x="323" y="192.98729">Instances</text>
                                    </g>
                                    <g id="g237">
                                        <text class="DB-Vd-k" id="balancedCountValueTxt" x="218" y="146.05975">
                                            <!-- <tspan id="balancedCountValue">{{$axonStorage.dashboardStatsObj.balancedCount}}</tspan> -->
                                        </text>
                                        <text id="text3614-0-2-3" style="font-size:10px;fill:#ffffff" x="218" y="158.414">Load balanced</text>
                                    </g>
                                    <path d="m 300,220.8 0,0 c 3.6,0 6.5,-5.8 6.5,-10.2 l 0,-28.8 c 0,-2 0.5,-3.8 1.6,-5.3 l 1.9,-2.8 0,0 -2,-3 c -1,-1.5 -1.5,-3.3 -1.5,-5.2 l 0,-28.9 c 0,-4.4 -2.9,-5.9 -6.5,-5.9 l 0,0" id="path291" stroke-miterlimit="10" style="clip-rule:evenodd;fill:none;fill-rule:evenodd;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10"></path>
                                    <path d="m 298,176.8 -88,0" id="line307" style="fill:none;stroke:#ffffff;stroke-miterlimit:10"></path>
                                    <g id="g293">
                                        <text class="DB-Vd-k" id="unbalancedCountValueTxt" x="218" y="199.87309">
                                            <!-- <tspan id="unbalancedCountValue">{{$axonStorage.dashboardStatsObj.unbalancedCount}}</tspan> -->
                                        </text>
                                        <text id="text3614-0-2" style="font-size:10px;fill:#ffffff" x="218" y="212.22734">Other</text>
                                    </g>
                                </g>
                            </g>
                            <g id="g21">
                                <a xlink:href="/instancelist">
                                    <path d="m 394,72.3 c 0,1.7 -1.3,3 -3,3 l -184,0 c -1.7,0 -3,-1.3 -3,-3 l 0,-24 c 0,-1.7 1.3,-3 3,-3 l 184,0 c 1.7,0 3,1.3 3,3 l 0,24 z" id="path23" style="clip-rule:evenodd;fill:#7e8183;fill-rule:evenodd"></path>
                                    <text id="text3689-48" style="font-size:16px;fill:#ffffff" x="290" y="64.780678">EC2</text>
                                    <path d="m 277.3,51.7 -1.2,0.6 0,0.9 -1,-0.4 0,0 -0.9,0.4 0,0.6 -0.8,-0.2 0,0 -0.7,0.4 0,0.5 -0.8,-0.2 -0.6,0.3 0,8.2 0.6,0.3 0,0 0.8,-0.2 0,0.5 0.7,0.4 0,0 0.8,-0.2 0,0.6 0.9,0.4 0,0 1,-0.4 0,0.9 1.2,0.6 5.8,-2.9 0,-8.2 -5.8,-2.9 z m -5.1,11 0,-8 0.5,0.1 0,7.8 -0.5,0.1 z m 1.5,0.7 0,-9.4 0.5,0.1 0,9.1 -0.5,0.2 z m 1.7,0.8 0,-11 0.7,0.3 0,10.5 -0.7,0.2 z m 7.3,-1.6 -5,2.5 0,-12.8 5,2.5 0,7.8 z" id="path33" style="fill:#ffffff"></path>
                            </g>
                            <g class="DB-Vd-c DB-Vd-a" clip-path="url(#asgBoxClip)" id="asgBox">
                                <path class="DB-Vd-o" d="m 394,264.3 c 0,1.7 -1.3,3 -3,3 l -184,0 c -1.7,0 -3,-1.3 -3,-3 l 0,-34 c 0,-1.7 1.3,-3 3,-3 l 184,0 c 1.7,0 3,1.3 3,3 l 0,34 z" id="asgBoxPath"></path>
                                <text class="DB-Vd-j" id="asgCountValueTxt" x="218.48308" y="254.11995">
                                    <!-- <tspan class="DB-Vd-m" id="asgCountValue">{{$axonStorage.dashboardStatsObj.asgCount}} -->
                                    <tspan> Auto Scaling groups</tspan>
                                    </tspan>
                                </text>
                            </g>
                        </g>
                        <g id="rdsContainer">
                            <path d="m 596.4,66.7 0,-9.7 c 0,-8.5 -6.9,-15.4 -15.4,-15.4 l -135.2,0 c -8.5,0 -15.4,6.9 -15.4,15.4 l 0,9.7 c 0,7.1 4.9,13.1 11.4,14.8 -6.6,1.7 -11.4,7.7 -11.4,14.8 l 0,24.7 c 0,8.5 6.9,15.4 15.4,15.4 l 135.3,0 c 8.5,0 15.4,-6.9 15.4,-15.4 l 0,-24.7 c 0,-7.1 -4.9,-13.1 -11.4,-14.8 6.5,-1.8 11.3,-7.7 11.3,-14.8 z" id="path415" style="fill:#ffffff"></path>
                            <path d="m 410,52.4 10,8 -10,8 z" id="rightArrow1" style="fill:#ffffff"></path>
                            <g class="DB-Vd-c DB-Vd-a" clip-path="url(#rdsBoxClip)" id="rdsBox">
                                <path class="DB-Vd-o" d="m 581.1,84 -135.3,0 c -6.8,0 -12.4,5.5 -12.4,12.4 l 0,24.6 c 0,6.8 5.5,12.4 12.4,12.4 l 135.3,0 c 6.8,0 12.4,-5.5 12.4,-12.4 l 0,-24.7 C 593.4,89.5 587.9,84 581.1,84 Z" id="path427"></path>
                                <g id="g437">
                                    <text class="DB-Vd-j" id="rdsCountValueTxt" x="454" y="108.7184">
                                        <!-- <tspan id="rdsCountValue">{{$axonStorage.dashboardStatsObj.rdsCount}}</tspan> -->
                                    </text>
                                    <text id="text3614" style="fill:#ffffff" x="454" y="124.72369">Instances</text>
                                </g>
                            </g>
                            <g id="g417">
                                <a xlink:href="/rds">
                                    <path d="m 445.8,83.1 135.3,0 c -0.7,-0.3 -1.1,-0.9 -1.1,-1.6 0,-0.7 0.5,-1.3 1.1,-1.6 l -135.3,0 c 0.7,0.3 1.1,0.9 1.1,1.6 0,0.7 -0.5,1.3 -1.1,1.6 z" id="path419" style="fill:#b7b7b7"></path>
                                    <g id="g421">
                                        <path d="m 581.1,44.6 -135.3,0 c -6.8,0 -12.4,5.5 -12.4,12.4 l 0,9.7 c 0,6.8 5.5,12.4 12.4,12.4 l 135.3,0 c 6.8,0 12.4,-5.5 12.4,-12.4 l 0,-9.7 c -0.1,-6.9 -5.6,-12.4 -12.4,-12.4 z" id="path423" style="fill:#7e8183"></path>
                                    </g>
                                    <g id="g429">
                                        <text id="text3614-5-8" style="font-size:16px;fill:#ffffff" x="475.32059" y="67.476837">RDS</text>
                                    </g>
                                    <g id="g461">
                                        <path d="m 459.5,55.5 4.1,0 0,14.1 -4.1,0 z" id="rect463" style="fill:#ffffff"></path>
                                        <path d="m 467.6,68.1 0,-11.1 1.3,1.6 0,7.9 z" id="polygon465" style="fill:#ffffff"></path>
                                        <path d="m 455.4,68.1 0,-11.1 -1.3,1.6 0,7.9 z" id="polygon467" style="fill:#ffffff"></path>
                                        <path d="m 464.5,69.5 2.2,-1.1 0,-11.7 -2.2,-1.1 z" id="polygon469" style="fill:#ffffff"></path>
                                        <path d="m 456.3,56.7 0,11.7 2.3,1.1 0,-13.9 z" id="polygon471" style="fill:#ffffff"></path>
                                    </g>
                            </g>
                        </g>

                        <g id="dynDbContainer">
                            <path d="m 596.4,168.8 0,-9.7 c 0,-8.5 -6.9,-15.4 -15.4,-15.4 l -135.2,0 c -8.5,0 -15.4,6.9 -15.4,15.4 l 0,9.7 c 0,7.1 4.9,13.1 11.4,14.8 -6.6,1.7 -11.4,7.7 -11.4,14.8 l 0,24.7 c 0,8.5 6.9,15.4 15.4,15.4 l 135.3,0 c 8.5,0 15.4,-6.9 15.4,-15.4 l 0,-24.7 c 0,-7.1 -4.9,-13.1 -11.4,-14.8 6.5,-1.7 11.3,-7.7 11.3,-14.8 z" id="path475" style="fill:#ffffff"></path>
                            <path d="m 410,156.4 10,8 -10,8 z" id="rightArrow2" style="fill:#ffffff"></path>
                            <g class="DB-Vd-c DB-Vd-a" clip-path="url(#dynDsBoxClip)" id="dynDbBox">
                                <path class="DB-Vd-o" d="m 581.1,186.1 -135.3,0 c -6.8,0 -12.4,5.5 -12.4,12.4 l 0,24.7 c 0,6.8 5.5,12.4 12.4,12.4 l 135.3,0 c 6.8,0 12.4,-5.5 12.4,-12.4 l 0,-24.7 c -0.1,-6.9 -5.6,-12.4 -12.4,-12.4 z" id="path487"></path>
                                <g id="g507">
                                    <text class="DB-Vd-j" id="dynDbCountValueTxt" x="454" y="210.54269">
                                        <!-- {{$axonStorage.dashboardStatsObj.dynDbCount}} -->
                                        <tspan id="dynDbCountValue">6</tspan>
                                    </text>
                                    <text id="text3614-5" style="fill:#ffffff" x="454" y="226.73502">Tables</text>
                                </g>
                            </g>
                            <g id="g477">
                                <path d="m 445.8,185.3 135.3,0 c -0.7,-0.3 -1.1,-0.9 -1.1,-1.6 0,-0.7 0.5,-1.3 1.1,-1.6 l -135.3,0 c 0.7,0.3 1.1,0.9 1.1,1.6 0,0.6 -0.5,1.3 -1.1,1.6 z" id="path479" style="fill:#b7b7b7"></path>
                                <g id="g481">
                                    <path d="m 581.1,146.7 -135.3,0 c -6.8,0 -12.4,5.5 -12.4,12.4 l 0,9.7 c 0,6.8 5.5,12.4 12.4,12.4 l 135.3,0 c 6.8,0 12.4,-5.5 12.4,-12.4 l 0,-9.7 c -0.1,-6.8 -5.6,-12.4 -12.4,-12.4 z" id="path483" style="fill:#7e8183"></path>
                                </g>
                                <text id="text3689-4" style="font-size:16px;fill:#ffffff" x="476.03302" y="169.1947">DynamoDB</text>
                                <g id="g525">
                                    <path d="m 456,161.4 0,2.1 2.9,-0.1 0,-2.5 0,-0.2 -2.9,0.7 z m 3.4,6.2 0,0.4 4.2,0 0,-2.7 -4.1,0 -0.1,2.3 z m -3.3,-9.6 0,1.9 2.9,-0.9 0,-2.4 0,0 -2.9,1.4 z m 3.3,12 0,2.7 4.1,0 0,-2.9 -4.2,0 0,0.2 0.1,0 z m -3.4,-2.8 2.9,0.7 0,-0.2 0,-2.5 -2.9,-0.2 0,2.2 0,0 z m -1.6,-0.9 1.2,0.7 0,-2 -1.2,-0.1 0,1.4 z m 0,2.5 1.2,1.5 0,-1.8 -1.2,-1 0,1.3 z m -0.1,-5.1 1.3,-0.2 0,-2 -1.3,0.8 0,1.4 0,0 z m 1.7,5 0,2.3 2.9,1.4 0,-2.4 0,-0.4 -2.9,-0.9 z m -1.7,-7.6 1.3,-0.9 0,-1.6 -1.3,1.3 0,1.2 z m 9.7,2.3 2.8,0.1 0,-2.1 -2.8,-0.7 0,2.7 z m 3.5,3.6 1.3,-0.7 0,-1.4 -1.3,0.1 0,2 0,0 z m 0,3.4 1.3,-1.5 0,-1.3 -1.3,1 0,1.8 0,0 z m 1.1,-10.2 -1.2,-1.5 0,1.6 1.2,0.9 0,-1 z m -1.1,1.5 0,2 1.3,0.1 0,-1.4 -1.3,-0.7 z m -8.1,-5.1 0,2.4 4.1,0 0,-2.5 -4.1,0.1 0,0 0,0 z m 4.6,2.4 2.8,0.9 0,-1.9 -2.8,-1.4 0,2.4 z m 0,13.5 2.8,-1.4 0,-2.3 -2.8,0.9 0,2.8 z m -4.6,-11.6 0,2.6 4.1,0 0,-2.7 -4.2,0 0,0.1 z m 4.7,7 2.8,-0.7 0,-2.2 -2.8,0.1 0,2.8 z" id="path527" style="fill:#ffffff"></path>
                                </g>
                            </g>
                        </g>

                        <g id="ebsContainer">
                            <g id="g191">
                                <path d="m 596,294.8 c 0,2.5 -2,4.5 -4.5,4.5 l -154,0 c -2.5,0 -4.5,-2 -4.5,-4.5 l 0,-42 c 0,-2.5 2,-4.5 4.5,-4.5 l 154,0 c 2.5,0 4.5,2 4.5,4.5 l 0,42 z" id="path193" style="fill:#ffffff"></path>
                                <path d="m 591.1,249.3 c 1.7,0 2.9,1.5 2.9,3.2 l 0,41.8 c 0,1.7 -1.3,3 -2.9,3 l -154,0 c -1.7,0 -3.1,-1.3 -3.1,-3 l 0,-41.8 c 0,-1.7 1.4,-3.2 3.1,-3.2 l 154,0 m 0,-3 -154,0 c -3.3,0 -6.1,2.9 -6.1,6.2 l 0,41.8 c 0,3.3 2.8,6 6.1,6 l 154,0 c 3.3,0 5.9,-2.7 5.9,-6 l 0,-41.8 c 0,-3.4 -2.6,-6.2 -5.9,-6.2 l 0,0 z" id="path195" style="fill:#ffffff"></path>
                            </g>
                            <path d="m 410,247.4 10,8 -10,8 z" id="rightArrow3" style="fill:#ffffff"></path>
                            <g class="DB-Vd-c DB-Vd-a" clip-path="url(#ebsBoxClip)" id="ebsBox">
                                <path class="DB-Vd-o" d="m 591,297.3 -122,0 0,-48 122,0 c 1.7,0 3,1.3 3,3 l 0,42 c 0,1.6 -1.3,3 -3,3 z" id="ebsBoxPath"></path>
                                <g id="g201">
                                    <text class="DB-Vd-j" id="ebsCountValueTxt" x="477" y="273.42563">
                                        <!-- <tspan id="ebsCountValue">{{$axonStorage.dashboardStatsObj.ebsCount}}</tspan> -->
                                    </text>
                                    <text id="text3614-5-4" style="fill:#ffffff" x="477" y="289.61795">EBS volumes</text>
                                </g>
                            </g>
                            <g id="g227">
                                <path d="m 437.5,285.7 1.6,1.6 c 0.5,0.5 1.2,0.4 1.7,-0.1 l 7.9,-9.6 c 0.4,-0.5 0.3,-1.1 -0.1,-1.5 l 0,0 c -0.4,-0.4 -1.1,-0.4 -1.5,-0.1 l -9.6,8 c -0.5,0.4 -0.5,1.2 0,1.7 z" id="path229" style="fill:#7e8183"></path>
                                <g id="g231">
                                    <path d="m 468,249.3 -31,0 c -1.6,0 -3,1.4 -3,3 l 0,42 c 0,1.7 1.3,3 3,3 l 31,0 0,-48 z m -29.1,2.8 c 1.1,0 2.1,0.9 2.1,2.1 0,1.1 -0.9,2.1 -2.1,2.1 -1.1,0 -2.1,-0.9 -2.1,-2.1 0,-1.2 0.9,-2.1 2.1,-2.1 z m 0,42.6 c -1.1,0 -2.1,-0.9 -2.1,-2.1 0,-1.1 0.9,-2.1 2.1,-2.1 1.1,0 2.1,0.9 2.1,2.1 -0.1,1.2 -1,2.1 -2.1,2.1 z m 12.3,-8.2 c -7.2,0 -13.1,-5.8 -13.1,-13.1 0,-7.3 5.8,-13.1 13.1,-13.1 7.2,0 13.1,5.8 13.1,13.1 0,7.3 -5.9,13.1 -13.1,13.1 z m 12.4,8.2 c -1.1,0 -2.1,-0.9 -2.1,-2.1 0,-1.1 0.9,-2.1 2.1,-2.1 1.2,0 2.1,0.9 2.1,2.1 0,1.2 -1,2.1 -2.1,2.1 z m 0,-38.5 c -1.1,0 -2.1,-0.9 -2.1,-2.1 0,-1.1 0.9,-2.1 2.1,-2.1 1.2,0 2.1,0.9 2.1,2.1 0,1.2 -1,2.1 -2.1,2.1 z" id="path233" style="fill:#7e8183"></path>
                                    <path d="m 453.90001,273.39999 a 2.7,2.7 0 0 1 -2.7,2.7 2.7,2.7 0 0 1 -2.7,-2.7 2.7,2.7 0 0 1 2.7,-2.7 2.7,2.7 0 0 1 2.7,2.7 z" id="circle235" style="fill:#7e8183"></path>
                                </g>
                            </g>
                        </g>
                        <g id="s3Container">
                            <g id="g311">
                                <path d="m 168,263.8 c 0,2.5 -2,4.5 -4.5,4.5 l -156,0 C 5,268.3 3,266.3 3,263.8 l 0,-34 c 0,-2.5 2,-4.5 4.5,-4.5 l 156,0 c 2.5,0 4.5,2 4.5,4.5 l 0,34 z" id="path313" style="fill:#ffffff"></path>
                                <path d="m 163.1,227.3 c 1.7,0 2.9,1.3 2.9,3 l 0,34 c 0,1.7 -1.3,3 -2.9,3 l -156,0 c -1.7,0 -3.1,-1.4 -3.1,-3 l 0,-34 c 0,-1.7 1.4,-3 3.1,-3 l 156,0 m 0,-3 -156,0 c -3.3,0 -6.1,2.7 -6.1,6 l 0,34 c 0,3.3 2.8,6 6.1,6 l 156,0 c 3.3,0 5.9,-2.7 5.9,-6 l 0,-34 c 0,-3.4 -2.6,-6 -5.9,-6 l 0,0 z" id="path315" style="fill:#ffffff"></path>
                            </g>
                            <g id="g317">
                                <path d="m 165,263.8 c 0,0.8 -0.7,1.5 -1.5,1.5 l -156,0 C 6.7,265.3 6,264.6 6,263.8 l 0,-34 c 0,-0.8 0.7,-1.5 1.5,-1.5 l 156,0 c 0.8,0 1.5,0.7 1.5,1.5 l 0,34 z" id="path319" style="fill:#ffffff"></path>
                                <path d="m 163,230.3 0,34 -156,0 0,-34 156,0 m 0.1,-3 -156,0 c -1.7,0 -3.1,1.3 -3.1,3 l 0,34 c 0,1.7 1.4,3 3.1,3 l 156,0 c 1.7,0 2.9,-1.4 2.9,-3 l 0,-34 c 0,-1.7 -1.3,-3 -2.9,-3 l 0,0 z" id="path321" style="fill:#b4e5f9"></path>
                            </g>
                            <g id="g323">
                                <g id="g325">
                                    <path d="m 38,241.39999 a 8.5,2.2 0 0 1 -8.5,2.2 8.5,2.2 0 0 1 -8.5,-2.2 8.5,2.2 0 0 1 8.5,-2.2 8.5,2.2 0 0 1 8.5,2.2 z" id="ellipse327" style="fill:#7e8183"></path>
                                    <path d="m 29.5,244.5 c -4.1,0 -7.6,-0.7 -8.5,-1.7 l 2.8,12.6 c 0.2,0.7 2.6,1.3 5.6,1.3 3,0 5.4,-0.6 5.6,-1.3 l 2.8,-12.6 c -0.7,1 -4.2,1.7 -8.3,1.7 z" id="path329" style="fill:#7e8183"></path>
                                </g>
                                <g id="g331">
                                    <text id="s3CountValueTxt" style="font-size:18px;fill:#7e8183" x="46.5" y="254.7729">
                                        <!-- <tspan class="DB-Vd-m" id="s3CountValue">{{$axonStorage.dashboardStatsObj.s3Count}} -->
                                        <tspan> S3 buckets</tspan>
                                        </tspan>
                                    </text>
                                </g>
                            </g>
                        </g>
                        <g id="lambdaContainer">
                            <g id="g359">
                                <path d="m 396,332.8 c 0,2.5 -2,4.5 -4.5,4.5 l -184,0 c -2.5,0 -4.5,-2 -4.5,-4.5 l 0,-42 c 0,-2.5 2,-4.5 4.5,-4.5 l 184,0 c 2.5,0 4.5,2 4.5,4.5 l 0,42 z" id="path361" style="fill:#ffffff"></path>
                                <path d="m 391.1,287.3 c 1.7,0 2.9,1.5 2.9,3.2 l 0,41.8 c 0,1.7 -1.3,3 -2.9,3 l -184,0 c -1.7,0 -3.1,-1.3 -3.1,-3 l 0,-41.8 c 0,-1.7 1.4,-3.2 3.1,-3.2 l 184,0 m 0,-3 -184,0 c -3.3,0 -6.1,2.9 -6.1,6.2 l 0,41.8 c 0,3.3 2.8,6 6.1,6 l 184,0 c 3.3,0 5.9,-2.7 5.9,-6 l 0,-41.8 c 0,-3.4 -2.6,-6.2 -5.9,-6.2 l 0,0 z" id="path363" style="fill:#ffffff"></path>
                            </g>
                            <g class="DB-Vd-c DB-Vd-a" clip-path="url(#lambdaBoxClip)" id="lambdaBox">
                                <path class="DB-Vd-o" d="m 391,335.3 -152,0 0,-48 152,0 c 1.7,0 3,1.3 3,3 l 0,42 c 0,1.6 -1.3,3 -3,3 z" id="lambdaBoxPath"></path>
                                <g id="g369">
                                    <text class="DB-Vd-j" id="lambdaCountValueTxt" x="246" y="311.21664">
                                        <!-- <tspan id="lambdaCountValue">{{$axonStorage.dashboardStatsObj.lambdaCount}}</tspan> -->
                                    </text>
                                    <text id="text3614-5-4-9" style="fill:#ffffff" x="246" y="327.40897">Lambda functions</text>
                                </g>
                            </g>
                            <g id="g403">
                                <path d="m 238,287.3 -31,0 c -1.6,0 -3,1.4 -3,3 l 0,42 c 0,1.7 1.3,3 3,3 l 31,0 0,-48 z" id="path407" style="fill:#7e8183"></path>
                            </g>
                            <g id="g409">
                                <path d="m 231.2,304.2 -9.2,-4.6 0,23.3 2.5,-1 0.1,0 5.9,-3.1 0.1,0 0.6,-0.5 0,-14.1 z m -1.1,11.4 -5.6,2.3 0,-13.3 5.6,1.9 0,9.1 z m -4.1,-8.4 0,8.1 3.3,-4.1 -3.3,-4 z m -4.9,15.7 0,0 0,0 0,0 z m -3.2,-20 -2.3,-0.7 -1.8,0.9 0,1.1 -1.4,-0.3 0,0 -1.2,0.6 0,13.6 1.2,0.6 1.4,-0.3 0,1.1 1.8,0.9 0,0 2.2,-0.7 0,1.9 2.7,1.3 0,-23.1 -2.7,1.3 0,1.8 z m -4.1,14.7 -0.7,0.2 0,-13.1 0.7,0.2 0,12.7 z m 4.1,1.2 -1.5,0.5 0,-16.2 1.5,0.5 0,15.2 z" id="path411" style="fill:#ffffff"></path>
                            </g>
                        </g>
                        <g id="elbContainer">
                            <g id="g63">
                                <path d="m 167,195.8 c 0,2.5 -2,4.5 -4.5,4.5 l -154,0 C 6,200.3 4,198.3 4,195.8 l 0,-42 c 0,-2.5 2,-4.5 4.5,-4.5 l 154,0 c 2.5,0 4.5,2 4.5,4.5 l 0,42 z" id="path65" style="fill:#ffffff"></path>
                                <path d="m 162.1,150.3 c 1.7,0 2.9,1.5 2.9,3.2 l 0,41.8 c 0,1.7 -1.3,3 -2.9,3 l -154,0 C 6.4,198.3 5,197 5,195.3 l 0,-41.8 c 0,-1.7 1.4,-3.2 3.1,-3.2 l 154,0 m 0,-3 -154,0 c -3.3,0 -6.1,2.9 -6.1,6.2 l 0,41.8 c 0,3.3 2.8,6 6.1,6 l 154,0 c 3.3,0 5.9,-2.7 5.9,-6 l 0,-41.8 c 0,-3.4 -2.6,-6.2 -5.9,-6.2 l 0,0 z" id="path67" style="fill:#ffffff"></path>
                            </g>
                            <g class="DB-Vd-c DB-Vd-a" clip-path="url(#elbBoxClip)" id="elbBox">
                                <path class="DB-Vd-o" d="m 162,198.3 -122,0 0,-48 122,0 c 1.7,0 3,1.3 3,3 l 0,42 c 0,1.6 -1.3,3 -3,3 z" id="elbBoxPath"></path>
                                <g id="g73">
                                    <text class="DB-Vd-j" id="elbCountValueTxt" x="47" y="174.29181">
                                        <!-- <tspan id="elbCountValue">{{$axonStorage.dashboardStatsObj.elbCount}}</tspan> -->
                                    </text>
                                    <text id="text3614-5-4-8" style="fill:#ffffff" x="47" y="190.48413">ELB instances</text>
                                </g>
                            </g>
                            <g id="g103">
                                <path d="m 39,150.3 -31,0 c -1.7,0 -3,1.4 -3,3 l 0,42 c 0,1.7 1.3,3 3,3 l 31,0 0,-48 z" id="path107" style="fill:#7e8183"></path>
                                <path d="m 22,162.9 c -5.5,0 -10,4.5 -10,10 0,5.5 4.5,10 10,10 5.5,0 10,-4.5 10,-10 0,-5.5 -4.5,-10 -10,-10 z m 6.3,6.6 -3.2,0 0,-0.7 -0.9,1.2 -0.4,-0.6 -4.4,2.9 3.6,0 0,-0.8 2.1,0.8 0,-1.1 3.2,0 0,3.2 -3.2,0 0,-1.2 -2.1,0.8 0,-0.6 -3.6,0 4.5,2.8 0.3,-0.7 0.9,1.2 0,-0.6 3.2,0 0,3.2 -3.2,0 0,-1.3 -2.1,-0.5 0.3,-0.6 -5.6,-3.6 0,2.2 -3.5,0 0,-5.3 3.5,0 0,2 5.6,-3.6 -0.3,-0.6 2.1,-0.5 0,-1.2 3.2,0 0,3.2 z" id="path109" style="fill:#ffffff"></path>
                            </g>
                            <path d="m 202.7,244.4 c -2.5,0 -4.7,2.9 -5.3,4.9 l -12.4,0 0,-97 12.3,0 c 0.5,2 2.7,3.4 5.4,3.4 3,0 5.5,-3 5.5,-6 0,-3 -2.5,-4.7 -5.5,-4.7 -2.7,0 -4.9,2.3 -5.4,5.3 l -14.3,0 0,25 -11.7,0 c -0.5,-2 -2.7,-5.3 -5.4,-5.3 -3,0 -5.5,2.1 -5.5,5.1 0,3 2.5,6.1 5.5,6.1 2.7,0 4.9,-0.9 5.4,-3.9 l 11.7,0 0,74 14.2,0 c 0.3,3 2.6,4.1 5.5,4.1 3,0 5.5,-2.5 5.5,-5.5 0,-3 -2.5,-5.5 -5.5,-5.5 z" id="connector" style="fill:#ffffff"></path>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
    </div>
</div>
</body>
</html>