<style>
    .small-input{
        width:100px;
    }
    .table-bordered >tbody> tr> td{
        border:1px solid #666;
    }

    .form-control{
        padding:0px;
        padding-left: 5px;

    }

</style>
<div class="row">
    <div class="col-md-9 col-xs-12">
        <div class="table-section table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                <tr class="btn-primary">
                    <th>State</th>
                    <th>instance-Id</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>AvZone</th>
                    <th>Priv-IP</th>
                    <th>launchTime</th>
                    <th>AMI</th>
                    <th>StackName</th>
                    <th>Age</th>
                    <th>Version</th>
                </tr>
                </thead>
                <tbody>
                <tr class="btn-default" ng-repeat = 'item in instance.outinstances | startFrom : currentPage*pageSize | limitTo : pageSize' ng-click="instance.setCurrentInstance(item)">
                    <td ng-show="item.state.name=='running'"><div class="green circle double-border"></div></td>
                    <td ng-show="item.state.name=='stopped'"><div class="yellow circle double-border"></div></td>
                    <td ng-show="item.state.name=='terminated'"><div class="red circle double-border"></div></td>
                    <td>{{item.instanceId}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.instanceType}}</td>
                    <td>{{item.placement.availabilityZone}}</td>
                    <td>{{item.privateIpAddress}}</td>
                    <td>{{item.launchTime | date : 'medium'}}</td>
                    <td>{{item.imageId}}</td>
                    <td>{{item.stackname}}</td>
                    <td>{{item.age}}</td>
                    <td>{{item.version}}</td>
                </tr>
                </tbody>
            </table>
            <img src="assets/img/loading.gif" ng-show="instance.loading" width="50px;" height="50px;">
        </div>
        <div style="text-align:center" ng-show="instance.outinstances">
            <div class="btn-group mr-2" role="group">
                <button type="button" class="btn btn-success btn-sm" ng-click="currentPage=currentPage-1" ng-disabled="currentPage==0" style="width:80px;">previous</button>
                <button type="button" class="btn btn-success btn-sm" style="width:80px;">{{currentPage+1}}/{{numberOfPages()}}</button>
                <button type="button" class="btn btn-success btn-sm" ng-click="currentPage=currentPage+1" ng-disabled="currentPage >= instance.outinstances.length/pageSize - 1 || !instance.outinstances" style="width:80px;">next</button>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-xs-12">
        <div class="instance-view" style="width:350px">
            <div class="hg_accordion_element style4">
                <h3 style="position:relative;margin-top:0px"><img src="assets/img/laptop.png" width="60" height="60">&nbsp;&nbsp; {{instance.currentInstance.instanceId}} <button type="button" data-toggle="modal" data-target="#tagModal" class="btn btn-default btn-sm" style="position:absolute;right:10px;top:90px;" ng-disabled="!instance.currentInstance">Tags</button><button type="button" data-toggle="modal" data-target="#compliancyModal" class="btn btn-default btn-sm" style="position:absolute;right:70px;top:90px;" ng-disabled="!instance.currentInstance">Compliancy</button></h3>
                <div class="th-accordion">
                    <div class="acc-group">
                        <div id="ist1" class="collapse in" aria-expanded="true">
                            <div class="content" style="height:60px;">
                                <!-- Example single danger button -->
                                <div class="btn-group" style="position:absolute;top:90px">
                                    <button type="button" class="btn btn-action">Action</button>
                                    <button type="button" class="btn btn-action dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" style="position:absolute;">
                                        <li><a ng-click="instance.action('start')">Start</a></li>
                                        <li><a ng-click="instance.action('stop')">Stop</a></li>
                                        <li><a ng-click="instance.action('terminate')">Terminate</a></li>
                                        <li><a ng-click="instance.action('reboot')">Reboot</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="acc-group">
                        <button data-toggle="collapse" data-target="#ist2" class="collapsed">Properties<span class="acc-icon"></span></button>
                        <div id="ist2" ng-class="collapsePanel ?'collapse in':'collapse'">
                            <div class="content">
                                <div class="row detail-item">
                                    <div class="col-xs-3">
                                        <label for="" class="box-label pull-right">rootDev:</label>
                                    </div>
                                    <div class="col-xs-9">
                                        <input class="form-control" type="text" id="" placeholder="/dev/sda1" value="{{instance.currentInstance.rootDeviceName}}">
                                    </div>
                                </div>
                                <div class="row detail-item">
                                    <div class="col-xs-3">
                                        <label for="" class="box-label pull-right">blockDev:</label>
                                    </div>
                                    <div class="col-xs-9">
                                        <div class="input-group block-dev">
                                        </div>

                                        <input ng-repeat = 'item in instance.currentInstance.blockDeviceMappings' class="form-control" type="text" id="" placeholder="/dev/sdh       volume-ID" value="{{item.deviceName}}  :  {{item.ebs.volumeId}}">
                                    </div>
                                </div>
                                <div class="row detail-item">
                                    <div class="col-xs-3">
                                        <label for="" class="box-label pull-right">subnetId:</label>
                                    </div>
                                    <div class="col-xs-9">
                                        <input class="form-control small-input" type="text" id="" placeholder="Subnet ID" value="{{instance.currentInstance.subnetId}}">
                                    </div>

                                </div>
                                <div class="row detail-item">
                                    <div class="col-xs-3">
                                        <label for="" class="box-label pull-right">vpcID:</label>
                                    </div>
                                    <div class="col-xs-9">
                                        <input class="form-control small-input" type="text" id="" placeholder="VPC ID" value="{{instance.currentInstance.vpcId}}">
                                    </div>

                                </div>
                                <div class="row detail-item">
                                    <div class="col-xs-3">
                                        <label for="" class="box-label pull-right">lamRole:</label>
                                    </div>
                                    <div class="col-xs-9">
                                        <input class="form-control" type="text" id="" placeholder="RoleName" value="{{instance.currentInstance.iamRole}}" style="margin-left:5
									</div>
									px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="acc-group">
                            <button data-toggle="collapse" data-target="#ist3" class="collapsed">Security Group<span class="acc-icon"></span></button>
                            <div id="ist3" ng-class="collapsePanel ?'collapse in':'collapse'">
                                <div class="content">
                                    <div class="form-group">
                                        <a href="#" ng-repeat="item in instance.currentInstance.securityGroups" class="list-group-item">{{item.groupName}}</a>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Button trigger modal -->

        <!-- Modal -->
        <div class="modal fade" id="tagModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Tags</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered">
                            <thead>
                            <tr class="btn-success">
                                <th>KEY</th>
                                <th>VALUE</th>
                                <th ng-show="editMode"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in instance.currentInstance.tags">
                                <td>{{item.key}}</td>
                                <td>{{item.value}}</td>
                                <td ng-show="editMode"><button class="btn btn-danger btn-sm">X</button></td>
                            </tr>
                            </tbody>
                        </table>
                        <button type="button" class="btn btn-warning btn-sm" ng-click="setEditMode()">Edit</button>
                        <button ng-show="editMode" type="button" class="btn btn-warning btn-sm" ng-click="setCreateMode()">create</button>
                        <input type="text" class="small-input " placeholder="KEY" ng-show="inputMode">
                        <input type="text" class="small-input " placeholder="VALUE" ng-show="inputMode">
                        <button type="button" class="btn btn-success btn-sm" ng-show="inputMode">Save</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="compliancyModal" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
            <div class="modal-dialog" role="document" >
                <div class="modal-content" style="background-color:#f0f0f0">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">EC2</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered">
                            <thead>
                            <tr class="btn-success">
                                <th>Tags</th>
                                <th>Check Symbol or Cross</th>
                            </tr>
                            </thead>
                            <tbodx`y>
                            <tr>
                                <td>Encryption</td>
                                <td align="center"><img src="assets/img/checked.png" width="20" height="20" ng-if="instance.currentInstance && instance.currentInstance.encryption"><img src="assets/img/close-red.png" width="20p" height="20" ng-if="instance.currentInstance && !instance.currentInstance.encryption"></td>
                            </tr>
                            <tr>
                                <td>AMI</td>
                                <td align="center"><img src="assets/img/checked.png" width="20" height="20" ng-if="instance.currentInstance && instance.currentInstance.age<61"><img src="assets/img/close-red.png" width="20p" height="20" ng-if="instance.currentInstance && instance.currentInstance.age>60"></td>
                            </tr>
                            <tr>
                                <td>NoPublicIp</td>
                                <td align="center"><img src="assets/img/checked.png" width="20" height="20" ng-if="instance.currentInstance.publicIpAddress==null && instance.currentInstance"><img src="assets/img/close-red.png" width="20p" height="20" ng-if="instance.currentInstance.publicIpAddress!=null && instance.currentInstance"></td>
                            </tr>
                            </tbodxy>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>