<div class="container">
	<div class="row">
		<section class="content">
            <table class="table table-striped table-bordered" id="table1">
            <thead>
            	<tr>
					<th class="btn-info">#</th>
					<th class="btn-info">Type</th>
					<th class="btn-info">vCpu</th>
					<th class="btn-info">Memory(GB)</th>
					<th class="btn-info">SSd/EBS</th>
				</tr>
            </thead>
			<tbody>
				<tr> <td>1</td> <td>t2.nano</td> <td>1</td>	<td>0.5</td><td>EBS-Only</td>
				<tr><td>2</td>	<td>t2.micro</td><td>1</td>	<td>1</td><td>EBS-Only</td>	</tr>
				<tr> <td>3</td>	<td>t2.micro</td> <td>1</td> <td>2</td> <td>EBS-Only</td> </tr>
				<tr> <td>4</td>	<td>t2.medium</td> <td>2</td> <td>4</td> <td>EBS-Only</td> </tr>
				<tr> <td>5</td>	<td>t2.large</td> <td>2</td> <td>8</td>	<td>EBS-Only</td> </tr>
				<tr> <td>6</td> <td>t2.xlarge</td> <td>4</td> <td>16</td> <td>EBS-Only</td>	</tr>
				<tr><td>7</td> <td>t2.2xlarge</td> <td>8</td> <td>32</td> <td>EBS-Only</td> </tr>
				<tr><td>8</td><td>m4.large</td> <td>2</td> <td>8</td> <td>EBS-Only</td></tr>
				<tr><td>9</td><td>m4.xlarge</td> <td>4</td> <td>16</td> <td>EBS-Only</td></tr>
				<tr><td>10</td><td>m4.2xlarge</td> <td>8</td> <td>32</td> <td>EBS-Only</td></tr>
				<tr><td>11</td><td>m4.4xlarge</td> <td>16</td> <td>64</td> <td>EBS-Only</td></tr>
				<tr><td>12</td><td>m4.10xlarge</td> <td>40</td> <td>160</td> <td>EBS-Only</td></tr>
				<tr><td>13</td><td>m4.16xlarge</td> <td>64</td> <td>256</td> <td>EBS-Only</td></tr>
				<tr><td>14</td><td>m3.medium</td> <td>1</td> <td>3.75</td> <td>1 x 4 SSD</td></tr>
				<tr><td>15</td><td>m3.large</td> <td>2</td> <td>7.5</td> <td>1 x 32 SSD</td></tr>
				<tr><td>16</td><td>m3.xlarge</td> <td>4</td> <td>15</td> <td>2 x 40 SSD</td></tr>
				<tr><td>17</td><td>m3.2xlarge</td> <td>8</td> <td>30</td> <td>2 x 80 SSD</td></tr>
				<tr><td>18</td><td>c4.large</td> <td>2</td> <td>3.75</td> <td>EBS Only</td></tr>
				<tr><td>19</td><td>c4.xlarge</td> <td>4</td> <td>7.5</td> <td>EBS Only</td></tr>
				<tr><td>20</td><td>c4.2xlarge</td> <td>8</td> <td>16</td> <td>EBS Only</td></tr>
				<tr><td>21</td><td>c4.4xlarge</td> <td>16</td> <td>30</td> <td>EBS Only</td></tr>
				<tr><td>22</td><td>c4.8xlarge</td> <td>36</td> <td>60</td> <td>EBS Only</td></tr>
				<tr><td>23</td><td>c3.large</td> <td>2</td> <td>3.75</td> <td>2 x 16 SSD</td></tr>
				<tr><td>24</td><td>c3.xlarge</td> <td>4</td> <td>7.5</td> <td>2 x 40 SSD</td></tr>
				<tr><td>25</td><td>c3.2xlarge</td> <td>8</td> <td>15</td> <td>2 x 80 SSD</td></tr>
				<tr><td>26</td><td>c3.4xlarge</td> <td>16</td> <td>30</td> <td>2 x 160 SSD</td></tr>
				<tr><td>27</td><td>c3.8xlarge</td> <td>32</td> <td>60</td> <td>2 x 320 SSD</td></tr>
				<tr><td>28</td><td>p2.xlarge</td> <td>4</td> <td>61</td> <td>EBS Only</td></tr>
				<tr><td>29</td><td>p2.8xlarge</td> <td>32</td> <td>488</td> <td>EBS Only</td></tr>
				<tr><td>30</td><td>p2.16xlarge</td> <td>64</td> <td>732</td> <td>EBS Only</td></tr>
				<tr><td>31</td><td>g2.2xlarge</td> <td>8</td> <td>15</td> <td>1 x 60 SSD</td></tr>
				<tr><td>32</td><td>g2.8xlarge</td> <td>32</td> <td>60</td> <td>2 x 120 SSD</td></tr>
				<tr><td>33</td><td>x1.16large</td> <td>64</td> <td>976</td> <td>1 x 1,920 SSD</td></tr>
				<tr><td>34</td><td>x1.32xlarge</td> <td>128</td> <td>1,952</td> <td>2 x 1,920 SSD</td></tr>
				<tr><td>35</td><td>r4.large</td> <td>2</td> <td>15.25</td> <td>-</td></tr>
				<tr><td>36</td><td>r4.xlarge</td> <td>4</td> <td>30.5</td> <td>-</td></tr>
				<tr><td>37</td><td>r4.2xlarge</td> <td>8</td> <td>61</td> <td>-</td></tr>
				<tr><td>38</td><td>r4.4xlarge</td> <td>16</td> <td>122</td> <td>-</td></tr>
				<tr><td>39</td><td>r4.8xlarge</td> <td>32</td> <td>244</td> <td>-</td></tr>
				<tr><td>40</td><td>r4.16xlarge</td> <td>64</td> <td>488</td> <td>-</td></tr>
				<tr><td>41</td><td>r3.large</td> <td>2</td> <td>15.25</td> <td>1 x 32 SSD</td></tr>
				<tr><td>42</td><td>r3.xlarge</td> <td>4</td> <td>30.5</td> <td>1 x 80 SSD</td></tr>
				<tr><td>43</td><td>r3.2xlarge</td> <td>8</td> <td>61</td> <td>1 x 160 SSD</td></tr>
				<tr><td>44</td><td>r3.4xlarge</td> <td>16</td> <td>122</td> <td>1 x 320 SSD</td></tr>
				<tr><td>45</td><td>r3.8xlarge</td> <td>32</td> <td>244</td> <td>2 x 320 SSD</td></tr>
				<tr><td>46</td><td>i3.large</td> <td>2</td> <td>15.25</td> <td>1 x 475 NVMe SSD</td></tr>
				<tr><td>47</td><td>i3.xlarge</td> <td>4</td> <td>30.5</td> <td>1 x 950 NVMe SSD</td></tr>
				<tr><td>48</td><td>i3.2xlarge</td> <td>8</td> <td>61</td> <td>1 x 1,900 NVMe SSD</td></tr>
				<tr><td>49</td><td>i3.4xlarge</td> <td>16</td> <td>122</td> <td>2 x 1,900 NVMe SSD</td></tr>
				<tr><td>50</td><td>i3.8xlarge</td> <td>32</td> <td>244</td> <td>4 x 1,900 NVMe SSD</td></tr>
				<tr><td>51</td><td>i3.16large</td> <td>64</td> <td>488</td> <td>8 x 1,900 NVMe SSD</td></tr>
				<tr><td>52</td><td>d2.xlarge</td> <td>4</td> <td>30.5</td> <td>3 x 2000</td></tr>
				<tr><td>53</td><td>d2.2xlarge</td> <td>8</td> <td>61</td> <td>6 x 2000	</td></tr>
				<tr><td>54</td><td>d2.4xlarge</td> <td>16</td> <td>122</td> <td>12 x 2000</td></tr>
				<tr><td>55</td><td>d2.8xlarge</td> <td>36</td> <td>244</td> <td>24 x 2000</td></tr>
				<tr><td>56</td><td>f1.2xlarge</td> <td>8</td> <td>122</td> <td>480 SSD</td></tr>
				<tr><td>57</td><td>f1.16xlarge</td> <td>64</td> <td>976</td> <td>4 x 960</td></tr>
			</tbody>
		</table>
            </section>
		
	</div>
</div>
