<style>
    .tablesorter-pager .btn-group-sm .btn {
        font-size: 1.2em; /* make pager arrows more visible */
    }
</style>
<div class="row">
    <div class="col-md-9 col-xs-12">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>AvZone</th>
                <th>Priv-IP</th>
                <th>launchTime</th>
                <th>AMI</th>
                <th>StackName</th>
                <th>Age</th>
                <th>Version</th>
            </tr>
            </thead>
            <tfoot>
            <th colspan="7" class="ts-pager">
                <div class="form-inline">
                    <div class="btn-group btn-group-sm mx-1" role="group">
                        <button type="button" class="btn btn-secondary first" title="first">⇤</button>
                        <button type="button" class="btn btn-secondary prev" title="previous">←</button>
                    </div>
                    <span class="pagedisplay"></span>
                    <div class="btn-group btn-group-sm mx-1" role="group">
                        <button type="button" class="btn btn-secondary next" title="next">→</button>
                        <button type="button" class="btn btn-secondary last" title="last">⇥</button>
                    </div>
                    <select class="form-control-sm custom-select px-1 pagesize" title="Select page size">
                        <option selected="selected" value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="all">All Rows</option>
                    </select>
                    <select class="form-control-sm custom-select px-4 mx-1 pagenum" title="Select page number"></select>
                </div>
            </th>
            </tr>
            </tfoot>
            <tbody>
            <tr class="btn-default" ng-repeat = 'item in instance.outinstances | startFrom : currentPage*pageSize | limitTo : pageSize' ng-click="instance.setCurrentInstance(item)">
                <td ng-show="item.state.name=='running'"><div class="green circle double-border"></div></td>
                <td ng-show="item.state.name=='stopped'"><div class="yellow circle double-border"></div></td>
                <td ng-show="item.state.name=='terminated'"><div class="red circle double-border"></div></td>
                <td>{{item.instanceId}}</td>
                <td>{{item.name}}</td>
                <td>{{item.instanceType}}</td>
                <td>{{item.placement.availabilityZone}}</td>
                <td>{{item.privateIpAddress}}</td>
                <td>{{item.launchTime | date : 'medium'}}</td>
                <td>{{item.imageId}}</td>
                <td>{{item.stackname}}</td>
                <td>{{item.age}}</td>
                <td>{{item.version}}</td>
            </tr>
            </tbody>
        </table>
