<link rel="stylesheet" type="text/css" href="assets/css/icon.css">
<style>
	.small-input{
		width:100px;
	}
	.table-bordered >tbody> tr> td{
		border:1px solid #eee;
	}
</style>
<div class="row">
	<div class="col-sm-8 col-xs-12">

		<div class="panel panel-primary">
			<div class="panel-heading">EC2<button class="btn btn-xs btn-default" style="margin-left:10px;" ng-click="overview.getInstance_list()" data-toggle="modal" data-target="#ec2list">show list</button>
				<span style="float:right;margin-top:0px">{{overview.envInstances.running}}<img src="./assets/img/ec2running.png" width="14" height="14">/&nbsp;&nbsp; {{overview.envInstances.stopped}}<img src="./assets/img/ec2stop.png" width="14" height="14">/&nbsp;&nbsp; {{overview.envInstances.terminated}}<img src="./assets/img/ec2terminated.png" width="14" height="14"></span>
			</div>
			<table class="table table-bordered">
				<tr>
					<td>Tags</td>
					<td>Encryption</td>
					<td>AMI</td>
					<td>NoPublicIp</td>
				</tr>
				<tr>
					<td>{{ec_tags}}%</td>
					<td>{{ec_encryption}}%</td>
					<td>{{ec_ami}}%</td>
					<td>{{ec_nopublicip}}%</td>
				</tr>
			</table>
			<div class="progress" style="margin:0px; height:3px;">
				<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{overview.ecprogress}}%">
				</div>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">EBS
				<span style="float:right;margin-top:0px;margin-right: 0px;"><div class="panel-blue"> Avai : {{overview.envVolumes.available}}</div> </span>
				<span style="float:right;margin-top:0px;margin-right: 15px;"><div class="panel-green">in-Use : {{overview.envVolumes.inuse}} </div></span>
				<span style="float:right;margin-top:0px;margin-right: 15px;"> <img src="./assets/img/totalsum.png" width="15" height="15"> &nbsp;{{ebs_totalCount}} / </span>
			</div>
			<table class="table table-bordered">
				<tr>
					<td>Tags</td>
					<td>Encryption</td>
					<td>Backups</td>
				</tr>
				<tr>
					<td>{{ebs_tags}}%</td>
					<td>{{ebs_encryption}}%</td>
					<td>{{ebs_backups}}%</td>
				</tr>
			</table>
			<div class="progress" style="margin:0px; height:3px;">
				<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{overview.ebsprogress}}%">
				</div>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">RDS<button class="btn btn-xs btn-default" style="margin-left:10px;" ng-click="overview.getRds_list()" data-toggle="modal" data-target="#rdslist">show list</button><span style="float:right;margin-top:0px"><img src="./assets/img/totalsum.png" width="15" height="15"> &nbsp;{{rds_totalCount}}</span></div>
			<table class="table table-bordered">
				<tr>
					<td>Tags</td>
					<td>Encryption</td>
					<td>RDSpatching</td>
					<td>Backups</td>
					<td>NoPublicIp</td>
				</tr>
				<tr>
					<td>{{rds_tags}}%</td>
					<td>{{rds_encryption}}%</td>
					<td>{{rds_patching}}%</td>
					<td>{{rds_backups}}%</td>
					<td>{{rds_nopublicip}}%</td>
				</tr>
			</table>
			<div class="progress" style="margin:0px; height:3px;">
				<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{overview.rdsprogress}}%">
				</div>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">App ELB<span style="float:right;margin-top:0px"><img src="./assets/img/totalsum.png" width="15" height="15"> &nbsp; {{appelb_totalCount}}</span></div>
			<table class="table table-bordered">
				<tr>
					<td>Tags</td>
					<td>SSL</td>
				</tr>
				<tr>
					<td>{{appelb_tags}}%</td>
					<td>{{appelb_ssl}}%</td>
				</tr>
			</table>
			<div class="progress" style="margin:0px; height:3px;">
				<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{overview.appelbprogress}}%">
				</div>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">Classic ELB<span style="float:right;margin-top:0px"><img src="./assets/img/totalsum.png" width="15" height="15"> &nbsp; {{elb_totalCount}}</span></div>
			<table class="table table-bordered">
				<tr>
					<td>Tags</td>
					<td>SSL</td>
				</tr>
				<tr>
					<td>{{elb_tags}}%</td>
					<td>{{elb_ssl}}%</td>
				</tr>
			</table>
			<div class="progress" style="margin:0px; height:3px;">
				<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{overview.elbprogress}}%">
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-xs-12">
		<div class="instance-view" style="width:452px;">
			<div class="hg_accordion_element style4" style="width:450px;">
				<h3 style="position:relative;margin-top:0px">ASVNAME : {{overview.appName}} <button class="btn btn-default btn-sm" style="position:absolute;right:20px;top:10px;" export-to-csv>Download</button></h3>
				<div class="th-accordion">
					<div class="acc-group">
						<div id="ist1">
							<div class="content">
								<!-- Example single danger button -->
								{{overview.asv_description}}
							</div>
						</div>
					</div>
					<div class="acc-group">
						<button data-toggle="collapse" data-target="#ist2" class="collapsed">Owners<span class="acc-icon"></span></button>
						<div id="ist2" ng-class="collapsePanel ?'collapse in':'collapse'">
							<div class="content">

							</div>
						</div>
					</div>
					<div class="acc-group">
						<button data-toggle="collapse" data-target="#ist3" class="collapsed">Additional Info<span class="acc-icon"></span></button>
						<div id="ist3" ng-class="collapsePanel ?'collapse in':'collapse'">
							<div class="content">

							</div>
						</div>
					</div>
					<div class="acc-group">
						<button data-toggle="collapse" data-target="#ist4" class="collapsed">Relationship<span class="acc-icon"></span></button>
						<div id="ist4" ng-class="collapsePanel ?'collapse in':'collapse'">
							<div class="content">

							</div>
						</div>
					</div>
					<div class="acc-group">
						<button data-toggle="collapse" data-target="#ist5" class="collapsed">External Process Information<span class="acc-icon"></span></button>
						<div id="ist5" ng-class="collapsePanel ?'collapse in':'collapse'">
							<div class="content">

							</div>
						</div>
					</div>
				</div>
			</div>
			<meter-gauge gaugeconfig="classic" style="margin-top:10px;margin-left:60px;"></meter-gauge>
		</div>
	</div>

	<div id="ec2list" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content" style="background-color:#f0f0f0">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">EC2</h4>
				</div>
				<div class="modal-body" style="overflow:auto;max-height:700px;">
					<table class="table table-bordered">
						<tr>
							<td>instanceId</td>
							<td>instanceName</td>
							<td align="center">Tag</td>
							<td align="center">No Public Id</td>
							<td align="center">Ami</td>
						</tr>
						<tr ng-repeat = "item in instanceLists">
							<td>{{item.instanceId}}</td>
							<td>{{item.instanceName}}</td>
							<td align="center"><img src="assets/img/checked.png" width="20p" height="20" ng-if="item.tags==true"><img src="assets/img/close-red.png" width="20p" height="20" ng-if="item.tags==false"></td>
							<td align="center"><img src="assets/img/checked.png" width="20p" height="20" ng-if="item.nopublicip==true"><img src="assets/img/close-red.png" width="20p" height="20" ng-if="item.nopublicip==false"></td>
							<td align="center"><img src="assets/img/checked.png" width="20p" height="20" ng-if="item.ami==true"><img src="assets/img/close-red.png" width="20p" height="20" ng-if="item.ami==false"></td>
						</tr>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>
	<div id="rdslist" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content" style="background-color:#f0f0f0">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">RDS</h4>
				</div>
				<div class="modal-body" style="overflow:auto;max-height:700px;">
					<table class="table table-bordered">
						<tr>
							<td>RDS</td>
							<td align="center">Tag</td>
							<td align="center">Encryption</td>
							<td align="center">Patching</td>
							<td align="center">RDS Backups</td>
							<td align="center">RDS No Public IP</td>
						</tr>
						<tr ng-repeat = "item in rdsLists">
							<td>{{item.rdsId}}</td>
							<td align="center"><img src="assets/img/checked.png" width="20p" height="20" ng-if="item.tags==true"><img src="assets/img/close-red.png" width="20p" height="20" ng-if="item.tags==false"></td>
							<td align="center"><img src="assets/img/checked.png" width="20p" height="20" ng-if="item.encryption==true"><img src="assets/img/close-red.png" width="20p" height="20" ng-if="item.encryption==false"></td>
							<td align="center"><img src="assets/img/checked.png" width="20p" height="20" ng-if="item.patching==true"><img src="assets/img/close-red.png" width="20p" height="20" ng-if="item.patching==false"></td>
							<td align="center"><img src="assets/img/checked.png" width="20p" height="20" ng-if="item.backups==true"><img src="assets/img/close-red.png" width="20p" height="20" ng-if="item.backups==false"></td>
							<td align="center"><img src="assets/img/checked.png" width="20p" height="20" ng-if="item.nopublicip==true"><img src="assets/img/close-red.png" width="20p" height="20" ng-if="item.nopublicip==false"></td>
						</tr>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>