<link rel="stylesheet" type="text/css" href="assets/css/icon.css">
<div class="row" style="padding:0px;margin:0 20px;">
	<div class="main-panel">
		<div class="data-panel" >
			<div class="hg_accordion_element default-style">
				<div class="th-accordion">
					<div class="acc-group">
						<button data-toggle="collapse" data-target="#state" class="header" aria-expanded="true">EC2<span class="acc-icon"></span></button>
						<div id="state" class="collapse in" aria-expanded="true">
							<div class="content">
								<img src="assets/img/loading.gif" ng-show="overview.ecloading">
								<STRONG>Running:</STRONG><span style="float:right">{{overview.envInstances.running}}</span><br>
								<STRONG>Stopped:</STRONG><span style="float:right">{{overview.envInstances.stopped}}</span><br>
								<STRONG>Terminated:</STRONG><span style="float:right">{{overview.envInstances.terminated}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="data-panel" >
			<!-- Accordions element default style -->
			<div class="hg_accordion_element default-style">
				<!-- Accordion wrapper -->
				<div class="th-accordion">
					<!-- Acc group #5 -->
					<div class="acc-group">
						<!-- Title group button acc #5 -->
						<button data-toggle="collapse" data-target="#buckets" class="" aria-expanded="true">S3<span class="acc-icon"></span></button>
						<!--/ Title group button acc #5 -->

						<!-- Acc #5 -->
						<div id="buckets" class="collapse in" aria-expanded="true">
							<!-- Content -->
							<div class="content" style="overflow:auto;max-height:250px;">
								<img src="assets/img/loading.gif" ng-show="overview.sloading">
								<div ng-repeat = 'item in overview.buckets'>{{item}}<hr></div>

							</div>
							<!--/ Content -->
						</div>
						<!--/ Acc #5 -->
					</div>
					<!--/ Acc group #5 -->

				</div>
				<!--/ Accordion wrapper -->
			</div>
			<!--/ Accordions element default style -->
		</div>
		<div class="data-panel" >
			<!-- Accordions element default style -->
			<div class="hg_accordion_element default-style">
				<!-- Accordion wrapper -->
				<div class="th-accordion">
					<!-- Acc group #5 -->
					<div class="acc-group">
						<!-- Title group button acc #5 -->
						<button data-toggle="collapse" data-target="#autoscaling" class="" aria-expanded="true">Autoscaling<span class="acc-icon"></span></button>
						<!--/ Title group button acc #5 -->

						<!-- Acc #5 -->
						<div id="autoscaling" class="collapse in" aria-expanded="true">
							<!-- Content -->
							<div class="content" style="overflow:auto;max-height:250px;">
								<img src="assets/img/loading.gif" ng-show="overview.autoloading">
								<div ng-repeat = 'item in overview.autoScalingGroups'>{{item}}<hr></div>
							</div>
							<!--/ Content -->
						</div>
						<!--/ Acc #5 -->
					</div>
					<!--/ Acc group #5 -->

				</div>
				<!--/ Accordion wrapper -->
			</div>
			<!--/ Accordions element default style -->
		</div>
		<div class="data-panel" >
			<!-- Accordions element default style -->
			<div class="hg_accordion_element default-style">
				<!-- Accordion wrapper -->
				<div class="th-accordion">
					<!-- Acc group #5 -->
					<div class="acc-group">
						<!-- Title group button acc #5 -->
						<button data-toggle="collapse" data-target="#status" class="" aria-expanded="true">EBS<span class="acc-icon"></span></button>
						<!--/ Title group button acc #5 -->
						<!-- Acc #5 -->
						<div id="status" class="collapse in" aria-expanded="true">
							<!-- Content -->
							<div class="content">
								<img src="assets/img/loading.gif" ng-show="overview.voloading">
								<strong>Inuse</strong><span style="float:right">{{overview.envVolumes.inuse}}</span><br>
								<strong>Availiable</strong><span style="float:right">{{overview.envVolumes.available}}</span><br>
								<strong>Unencrypted</strong><span style="float:right">{{overview.envVolumes.unencrypted}}</span><br>
							</div>
							<!--/ Content -->
						</div>
						<!--/ Acc #5 -->
					</div>
					<!--/ Acc group #5 -->

				</div>
				<!--/ Accordion wrapper -->
			</div>
			<!--/ Accordions element default style -->
		</div>
		<div class="data-panel" >
			<!-- Accordions element default style -->
			<div class="hg_accordion_element default-style">
				<!-- Accordion wrapper -->
				<div class="th-accordion">
					<!-- Acc group #5 -->
					<div class="acc-group">
						<!-- Title group button acc #5 -->
						<button data-toggle="collapse" data-target="#database" class="" aria-expanded="true">RDS<span class="acc-icon"></span></button>
						<!--/ Title group button acc #5 -->

						<!-- Acc #5 -->
						<div id="database" class="collapse in" aria-expanded="true">
							<!-- Content -->
							<div class="content">
								<img src="assets/img/loading.gif" ng-show="overview.rdsloading">
								<div ng-repeat = 'item in overview.databases'>{{item}}<hr></div>
							</div>
							<!--/ Content -->
						</div>
						<!--/ Acc #5 -->
					</div>
					<!--/ Acc group #5 -->

				</div>
				<!--/ Accordion wrapper -->
			</div>
			<!--/ Accordions element default style -->
		</div>
		<div class="data-panel" >
			<!-- Accordions element default style -->
			<div class="hg_accordion_element default-style">
				<!-- Accordion wrapper -->
				<div class="th-accordion">
					<!-- Acc group #5 -->
					<div class="acc-group">
						<!-- Title group button acc #5 -->
						<button data-toggle="collapse" data-target="#apploadbal" class="" aria-expanded="true">LoadBalancer(app)<span class="acc-icon"></span></button>
						<!--/ Title group button acc #5 -->

						<!-- Acc #5 -->
						<div id="apploadbal" class="collapse in" aria-expanded="true">
							<!-- Content -->
							<div class="content">
								<img src="assets/img/loading.gif" ng-show="overview.albloading">
								<div ng-repeat = 'item in overview.apploadBalancers'>{{item}}<hr></div>
							</div>
							<!--/ Content -->
						</div>
						<!--/ Acc #5 -->
					</div>
					<!--/ Acc group #5 -->
				</div>
				<!--/ Accordion wrapper -->
			</div>
			<!--/ Accordions element default style -->
		</div>
		<div class="data-panel" >
			<!-- Accordions element default style -->
			<div class="hg_accordion_element default-style">
				<!-- Accordion wrapper -->
				<div class="th-accordion">
					<!-- Acc group #5 -->
					<div class="acc-group">
						<!-- Title group button acc #5 -->
						<button data-toggle="collapse" data-target="#classicloadbal" class="" aria-expanded="true">LoadBalancer(classic)<span class="acc-icon"></span></button>
						<!--/ Title group button acc #5 -->

						<!-- Acc #5 -->
						<div id="classicloadbal" class="collapse in" aria-expanded="true">
							<!-- Content -->
							<div class="content">
								<img src="assets/img/loading.gif" ng-show="overview.clbloading">
								<div ng-repeat = 'item in overview.classicloadBalancers'>{{item}}<hr></div>
							</div>
							<!--/ Content -->
						</div>
						<!--/ Acc #5 -->
					</div>
					<!--/ Acc group #5 -->

				</div>
				<!--/ Accordion wrapper -->
			</div>
			<!--/ Accordions element default style -->
		</div>

		<div class="data-panel" >
			<!-- Accordions element default style -->
			<div class="hg_accordion_element default-style">
				<!-- Accordion wrapper -->
				<div class="th-accordion">
					<!-- Acc group #5 -->
					<div class="acc-group">
						<!-- Title group button acc #5 -->
						<button data-toggle="collapse" data-target="#security" class="" aria-expanded="true">Security Groups<span class="acc-icon"></span></button>
						<!--/ Title group button acc #5 -->

						<!-- Acc #5 -->
						<div id="security" class="collapse in" aria-expanded="true">
							<!-- Content -->

							<div class="content" style="overflow:auto;max-height:250px;">
								<img src="assets/img/loading.gif" ng-show="overview.sgloading">
								<div ng-repeat = 'item in overview.securityGroups'>{{item}}<hr></div>
							</div>
							<!--/ Content -->
						</div>
						<!--/ Acc #5 -->
					</div>
					<!--/ Acc group #5 -->

				</div>
				<!--/ Accordion wrapper -->
			</div>
			<!--/ Accordions element default style -->
		</div>

		<div class="data-panel summery" >
			<div class="hg_accordion_element default-style">
				<!-- Accordion wrapper -->
				<div class="th-accordion">
					<!-- Acc group #5 -->
					<div class="acc-group">
						<!-- Title group button acc #5 -->
						<button data-toggle="collapse" data-target="#summery" class="" aria-expanded="true">Summery<span class="acc-icon"></span></button>
						<!--/ Title group button acc #5 -->

						<!-- Acc #5 -->
						<div id="summery" class="collapse in" aria-expanded="true">
							<!-- Content -->
							<div class="content" style="overflow:auto;max-height:250px;">

							</div>
							<!--/ Content -->
						</div>
						<!--/ Acc #5 -->
					</div>
					<!--/ Acc group #5 -->

				</div>
				<!--/ Accordion wrapper -->
			</div>
		</div>
	</div>



</div>



