


<div class="row" style="padding:0px;margin:0 20px;">

	<div class="col-md-8 col-xs-12" style="background-color:rgba(205,163,79,0.8);margin-top:20px;border-radius:5px;border:1px solid #C06014">
		<div class="row" style="margin-top:30px">
			<div class="col-sm-3 col-xs-12">
				<div class="form-group">
					<label for="" class="label label-caption">Ami Flavors</label><br>
					<input type="" class="btn btn-defaluult" value="{{rehydration.amiFlavor}}"></input>
				</div>
			</div>
			<div class="col-sm-3 col-xs-12">
				<div class="form-group">
					<label for="" class="label label-caption">Current AMI ID</label><br>
					<input type="text" class="btn btn-defaluult" value="{{rehydration.currentAmiId}}"></input>
				</div>
			</div>
			<div class="col-sm-3 col-xs-12">
				<div class="form-group">
					<label for="" class="label label-caption">Ami Versions</label><br>
					<select class="form-control" style="width:160px" ng-model="rehydration.amiVersion" ng-change="getSelectedAmiId()">
						<option ng-repeat="item in rehydration.amiVersions" value="{{item}}">
							{{item}}
						</option>
					</select>
				</div>
			</div>
			<div class="col-sm-3 col-xs-12">
				<div class="form-group">
					<label for="" class="label label-caption">Latest AMI ID</label><br>
					<input type="" class="btn btn-defaluult" value="{{rehydration.latestAmiId}}"></input>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top:20px;margin-bottom:20px;">
			<div style="float:left;margin:0 15px;">
				<div class="form-group">
					<label for="" class="label label-caption">Snapshot</label><br>
					<input type="" class="btn btn-defaluult" value="{{rehydration.snapshot}}"></input>
				</div>
			</div>
			<div style="float:left;margin:0 15px;">
				<div class="form-group">
					<label for="" class="label label-caption">Current ID</label><br>
					<input type="text" class="btn btn-defaluult" value="{{rehydration.currentSnapshot}}"></input>
				</div>
			</div>
			<div style="float:left;margin:0 15px;">
				<div class="form-group">
					<label for="" class="label label-caption">Latest ID</label><br>
					<input type="" class="btn btn-defaluult" value="{{rehydration.latestSnapshotId}}"></input>

				</div>
			</div>
			<div style="float:left;margin:0 15px;">
				<div class="form-group">
					<label for="" class="label label-caption">Status</label><br>
					<span class="green circle snapshot-status" ng-show="rehydration.state=='completed'"></span>
					<span class="red circle snapshot-status" ng-show="rehydration.state=='inprogress'"></span>
				</div>
			</div>
			<div style="float:left;margin:0 15px;">
				<div class="form-group">
					<label for="" class="label label-caption">CreateTime</label><br>
					<input type="" class="btn btn-defaluult" value="{{rehydration.creationTime | date:'medium'}}"></input>
				</div>
			</div>
		</div>
		<div class="alert alert-danger" role="alert" ng-if="rehydration.state=='inprogress'">Please try again once snapshot is complete</div>
		<div class="row">
			<div class="col-sm-5">
				<div class = "panel panel-primary row" style="margin:0 0px;padding:0;width:400px;">
					<div class = "panel-heading" style="height: 50px;">
						<h3 class = "panel-title">Template</h3>
					</div>

					<div class = "panel-body">
						<div class="radio">
							<label>
								<input type="radio" name="template" id="git" value="git" ng-model="selectedTemplate" checked>
								use GitHub template
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="template" id="aws" value="aws" ng-model="selectedTemplate">
								use AWS template
							</label>
						</div>
					</div>
				</div>
				<div class = "panel panel-primary row" style="margin:30px 0px;padding:0;width:400px;">
					<div class = "panel-heading" style="height: 50px;">
						<h3 class = "panel-title">Preference</h3>
					</div>

					<div class = "panel-body">
						<div class="radio">
							<label>
								<input type="radio" name="stack" id="create" value="create" ng-model="selectedAction" checked>
								Create Stack
							</label>
							<input type="text" ng-model="newStackName" placeholder="new stack name">
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="stack" id="update" value="update" ng-model="selectedAction">
								Update Stack
							</label>

						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-7">
				<table class="table table-hover" style="background-color:#f0f0f0">
					<tr>
						<td ng-if="selectedTemplate=='aws'">Fetching Template From AWS</td><td ng-if="selectedTemplate=='git'">Fetching Template From Git</td><td ng-if="rehydration.start_process"><img src="assets/img/loading.gif" ng-if="rehydration.fetching_tp_loading" width="20px;" height="20px;"><img src="assets/img/checked.png" ng-if="!rehydration.fetching_tp_loading" width="20px;" height="20px;"></td>
					</tr>
					<tr>
						<td>Fetching current AMI</td><td ng-if="rehydration.start_process"><img src="assets/img/loading.gif" ng-if="rehydration.fetching_ami_loading" width="20px;" height="20px;"><img src="assets/img/checked.png" ng-if="!rehydration.fetching_ami_loading" width="20px;" height="20px;"></td>
					</tr>
					<tr>
						<td>Fetching current Snapshot</td><td ng-if="rehydration.start_process"><img src="assets/img/loading.gif" ng-if="rehydration.fetching_snapshot_loading" width="20px;" height="20px;"><img src="assets/img/checked.png" ng-if="!rehydration.fetching_snapshot_loading" width="20px;" height="20px;"></td>
					</tr>
					<tr>
						<td>Fetching latest AMI</td><td ng-if="rehydration.start_process"><img src="assets/img/loading.gif" ng-if="rehydration.fetching_latest_ami_loading" width="20px;" height="20px;"><img src="assets/img/checked.png" ng-if="!rehydration.fetching_latest_ami_loading" width="20px;" height="20px;"></td>
					</tr>
					<tr>
						<td>Fetching latest SnapshotID</td><td ng-if="rehydration.start_process"><img src="assets/img/loading.gif" ng-if="rehydration.fetching_latest_snapshot_loading" width="20px;" height="20px;"><img src="assets/img/checked.png" ng-if="!rehydration.fetching_latest_snapshot_loading" width="20px;" height="20px;"></td>
					</tr>
					<tr>
						<td>Updating new values</td><td ng-if="rehydration.start_process"><img src="assets/img/loading.gif" ng-if="rehydration.updating_value_loading" width="20px;" height="20px;"><img src="assets/img/checked.png" ng-if="!rehydration.updating_value_loading" width="20px;" height="20px;"></td>
					</tr>
					<tr>
						<td>Validating new Template</td><td ng-if="rehydration.start_process"><img src="assets/img/loading.gif" ng-if="rehydration.validating_loading" width="20px;" height="20px;"><img src="assets/img/checked.png" ng-if="!rehydration.validating_loading" width="20px;" height="20px;"></td>
					</tr>
					<tr>
						<td ng-if="selectedAction=='create'">Created Stack</td><td ng-if="selectedAction=='update'">Updated Stack</td><td ng-if="rehydration.start_process"><img src="assets/img/loading.gif" ng-if="rehydration.saving_loading" width="20px;" height="20px;"><img src="assets/img/checked.png" ng-if="!rehydration.saving_loading" width="20px;" height="20px;"></td>
					</tr>
				</table>
				<div class="alert alert-danger" role="alert" ng-if="rehydration.emptyStackName && newStackName==''">please insert the name of stack</div>
				<div class="alert alert-danger" role="alert" ng-if="!rehydration.validating">validating template is failed</div>
				<div class="alert alert-danger" role="alert" ng-if="rehydration.createStackFailed">creating stack is failed</div>
				<div class="alert alert-danger" role="alert" ng-if="rehydration.updateStackFailed">updating stack is failed</div>
				<div class="alert alert-success" role="alert" ng-if="rehydration.createStackSuccess">New stack is created successfully</div>
				<div class="alert alert-success" role="alert" ng-if="rehydration.updateStackSuccess">Stack is updated successfully</div>
			</div>
		</div>
		<div class="row" style="margin-bottom:20px;">
			<div class="button-group" style="margin-left:15px;">
				<button class="btn btn-success" ng-click="rehydration.proceed()">Proceed</button>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-xs-12">
		<div class="instance-view">
			<div class="hg_accordion_element style4" style="width:450px;">
				<h3 style="position:relative;">StackName : {{rehydration.stackName}}</h3>
				<div class="th-accordion">
					<div class="acc-group">
						<button data-toggle="collapse" data-target="#ist2" class="collapsed">Properties<span class="acc-icon"></span></button>
						<div id="ist2" class="collapse in">
							<div class="content">
								<div class="form-inline detail-item">
									<label for="" class="label label-caption">amiVersion:</label>
									<input class="form-control" type="text" id="" placeholder="" value="{{rehydration.amiVersion}}">
								</div>
								<div class="form-inline detail-item">
									<label for="" class="label label-caption">amiID:</label>
									<input class="form-control small-input" type="text" id="" placeholder="" value="{{rehydration.latestAmiId}}">
								</div>
								<div class="form-inline detail-item">
									<label for="" class="label label-caption">snapshotID:</label>
									<input class="form-control small-input" type="text" id="" placeholder="" value="{{rehydration.snapId}}">
								</div>
							</div>
						</div>
					</div>
					<div class="acc-group">
						<button data-toggle="collapse" data-target="#ist3" class="collapsed">Create snapshot<span class="acc-icon"></span></button>
						<div id="ist3" ng-class="collapsePanel ?'collapse in':'collapse'">
							<div class="content">
								<div class="form-group">
									<a href="#" ng-repeat="item in instance.currentInstance.securityGroups" class="list-group-item">{{item.groupName}}</a>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="modal fade" id="stackModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">

					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h3 class="modal-title">Input New Stack Name</h3>
				</div>
				<div class="modal-body">
					<label class="label label-default">Stack Name</label>
					<input type="text" name="stackName" ng-model="rehydration.newStackName">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">Create Stack</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>