<style>
	.small-input{
		width:100px;
	}
</style>
<div class="row">
	<div class="col-md-8 col-xs-12">
		<div class="table-section table-responsive">
			<table class="table table-bordered table-hover">
				<thead>
				<tr class="btn-primary">
					<th>State</th>
					<th>snapshotID</th>
					<th>volumeID</th>
					<th>size</th>
					<th>Encryp</th>
					<th>startTime</th>
				</tr>
				</thead>
				<tbody>
				<tr class="btn-default" ng-repeat = 'item in snapshot.outsnapshots | startFrom : currentPage*pageSize | limitTo : pageSize' ng-click="snapshot.setCurrentSnapshot(item)">
					<td ng-show="item.state=='completed'"><div class="green circle double-border"></div></td>
					<td ng-show="item.state=='not completed'"><div class="red circle double-border"></div></td>
					<td>{{item.snapshotId}}</td>
					<td>{{item.volumeId}}</td>
					<td>{{item.volumeSize}}</td>
					<td>{{item.encrypted}}</td>
					<td>{{item.startTime}}</td>
				</tr>
				</tbody>
			</table>
			<img src="assets/img/loading.gif" ng-show="snapshot.loading" width="50px;" height="50px;">
		</div>
		<div style="text-align:center" ng-show="snapshot.outsnapshots">
			<div class="btn-group mr-2" role="group">
				<button type="button" class="btn btn-success btn-sm" ng-click="currentPage=currentPage-1" ng-disabled="currentPage==0" style="width:80px;">previous</button>
				<button type="button" class="btn btn-success btn-sm" style="width:80px;">{{currentPage+1}}/{{numberOfPages()}}</button>
				<button type="button" class="btn btn-success btn-sm" ng-click="currentPage=currentPage+1" ng-disabled="currentPage >= snapshot.outsnapshots.length/pageSize - 1 || !snapshot.outsnapshots" style="width:80px;">next</button>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-xs-12">
		<div class="instance-view">
			<div class="hg_accordion_element style4" style="width:450px;">
				<h3 style="position:relative;margin-top:0px;"><img src="./assets/img/snaplogo.png" width="60" height="60">{{snapshot.currentSnapshot.snapshotId}} <button type="button" data-toggle="modal" data-target="#tagModal" class="btn btn-default btn-sm" style="position:absolute;right:20px;top:90px;" ng-disabled="!snapshot.currentSnapshot">Tags</button></h3>
				<div class="th-accordion">
					<div class="acc-group">
						<div id="ist1" class="collapse in" aria-expanded="true">
							<div class="content" style="height:60px;">
								<!-- Example single danger button -->
								<div class="btn-group" style="position:absolute;">
									<button type="button" class="btn btn-warning">Action</button>
									<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class="caret"></span>
										<span class="sr-only">Toggle Dropdown</span>
									</button>
									<ul class="dropdown-menu">
										<li><a href="#">Start</a></li>
										<li><a href="#">Stop</a></li>
										<li><a href="#">Terminate</a></li>
										<li><a href="#">Reboot</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="acc-group">
						<button data-toggle="collapse" data-target="#ist2" class="collapsed">Properties<span class="acc-icon"></span></button>
						<div id="ist2" class="collapse ">
							<div class="content">
								<div class="form-inline detail-item">
									<div class="col-xs-3">
										<label for="" class="box-label pull-right">progress:</label>
									</div>
									<div class="col-xs-9">
										<input class="form-control" type="text" id="" placeholder="/dev/sda1" value="{{snapshot.currentSnapshot.progress}}">
									</div>
								</div>
								<div class="form-inline detail-item">
									<div class="col-xs-3">
										<label for="" class="box-label pull-right">Description:</label>
									</div>
									<div class="col-xs-9">
									    <textarea style="width:95%;margin-left:10px;margin-top:10px;" rows='4' >
									    	{{snapshot.currentSnapshot.description}}
									    </textarea>
									</div>
								</div>

								<div class="form-inline detail-item">
									<div class="col-xs-3">
										<label for="" class="box-label pull-right">ownerID:</label>
									</div>
									<div class="col-xs-9">
										<input class="form-control small-input" type="text" id="" placeholder="Subnet ID" value="{{snapshot.currentSnapshot.ownerId}}">
									</div>
								</div>
								<div class="form-inline detail-item">
									<div class="col-xs-3">
										<label for="" class="box-label pull-right">kmsKeyAlias:</label>
									</div>
									<div class="col-xs-9">
										<input class="form-control small-input" type="text" id="" placeholder="VPC ID" value="{{snapshot.currentSnapshot.ownerAlias}}">
									</div>
								</div>
								<div class="form-inline detail-item">
									<div class="col-xs-3">
										<label for="" class="box-label pull-right">kmsKeyID:</label>
									</div>
									<div class="col-xs-9">
										<input class="form-control" type="text" id="" placeholder="RoleName" value="{{snapshot.currentSnapshot.kmsKeyId}}" style="margin-left:7px">
									</div>
								</div>
								<div class="form-inline detail-item">
									<div class="col-xs-3">
										<label for="" class="box-label pull-right">kmskeyAm:</label>
									</div>
									<div class="col-xs-9">
										<input class="form-control" type="text" id="" placeholder="RoleName" value="{{snapshot.currentSnapshot.kmsKeyAm}}" style="margin-left:2px">
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- Button trigger modal -->

	<!-- Modal -->
	<div class="modal fade" id="tagModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title" id="exampleModalLabel">Tags</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<table class="table table-bordered">
						<thead>
						<tr class="btn-success">
							<th>KEY</th>
							<th>VALUE</th>
							<th ng-show="editMode"></th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="item in snapshot.currentSnapshot.tags">
							<td>{{item.key}}</td>
							<td>{{item.value}}</td>
							<td ng-show="editMode"><button class="btn btn-danger">X</button></td>
						</tr>
						</tbody>
					</table>
					<button type="button" class="btn btn-warning btn-sm" ng-click="setEditMode()">Edit</button>
					<button ng-show="editMode" type="button" class="btn btn-warning btn-sm" ng-click="setCreateMode()">create</button>
					<input type="text" class="small-input " placeholder="KEY" ng-show="inputMode">
					<input type="text" class="small-input " placeholder="VALUE" ng-show="inputMode">
					<button type="button" class="btn btn-success btn-sm" ng-show="inputMode">Save</button>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>