<style>
	.stack-header-green{
		background-color: #01BC8C!important;
		border-color:#01BC8C!important;
	}
	.stack-header-yellow{
		background-color: #F4D03F!important;
		border-color:#F4D03F!important;
	}
	.stack-header-red{
		background-color: #E74C3C!important;
		border-color: #E74C3C!important;
	}
	.stack-body{
		background-color: #959a9d;
	}
	.stack-title{
		font-size: 16px;
		color:black;
	}
</style>


<div class="row stack-list">
	<button class="btn btn-warning create-stack">Create Stack</button>
	<div class="stack-content" ng-repeat = 'item in stack.outstacks'>
		<div class="stack-header" style="background-color: #ffffff; border: 1px solid #a9b3b3;">
			<label class="stack-title">{{item.stackName}}</label>
			<button data-toggle="modal" data-target="#myModal" class="btn btn-default" ng-click="stack.setCurrentStack(item)">detail</button>
			<a class="btn right" ng-class="item.age<45 ? 'stack-header-green' : (item.age<60 ? 'stack-header-yellow' : 'stack-header-red')" ng-click="rehydrate(item.stackName)">Rehydrate</a>
		</div>
		<div class="stack-body">
			<div class="row">
				<label class="label label-caption">StackId:</label>
				<input class="stack_id" type="text" name="" placeholder="Id" value="{{item.stackId}}">
				<label class="label label-caption">createTime:</label>
				<input class="stack_time" type="text" name="" placeholder="Time" value="{{item.creationTime}}">

				<label class="label label-caption">status:</label>
				<input class="stack_status" type="text" name="" placeholder="success/Failed/Rolledback" value="{{item.stackStatus}}">
			</div>
			<div class="row">
				<label class="label label-caption">Description:</label>
				<input class="stack_des" type="text" name="" placeholder="Rolename" value="{{item.description}}">
			</div>
			<div class="row">
				<label class="label label-caption">IamRole:</label>
				<input class="stack_role" type="text" name="" placeholder="Rolename">
				<label class="label label-caption">Age:</label>
				<input class="stack_age" type="text" name="" placeholder="Age" value="{{item.age}}">
			</div>
		</div>
	</div>
</div>
</div>
<div id="myModal" class="modal fade" role="dialog">
<div class="modal-dialog" >
<!-- Modal content-->
<div class="modal-content" style="width:1000px;text-align:left;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Name Of Stack1</h4>
    <button type="button" class="btn btn-warning" style="float:right">Template dwn</button>
  </div>
  <div class="modal-body" >
    <div class="form-group">
	  <label class="label label-info" for="resources">Resources:</label>
	  <textarea class="form-control" rows="5" id="resources">
	  	{{stack.currentResources}}
	  </textarea>
	</div>
	<div class="form-group">
	  <label class="label label-info" for="events">Events:</label>
	  <textarea class="form-control" rows="3" id="events"></textarea>
	</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</div>

</div>
</div>
