
.hg_accordion_element .content img{
		left:153px;
		top:40px;
		width:30px;
		height:30px;
		position: absolute;
}
.main-panel{
	overflow:auto;
}
.data-panel{
	width:356px;
	float:left;
	max-height: 500px;
	margin:10px 10px 10px 10px;
}

.summery{
	width:90%!important;
}
.data-panel .content{
	min-height: 110px;
}


.boxme.ng-hide-add {
    animation: fadeOutLeftBig 0.4s;
    display: block!important;
}
.boxme.ng-hide-remove {
    animation: fadeInLeftBig 0.4s;
}
.filter-panel .hg_accordion_element h3{
	background-color:#7786ad!important;
}

.filter-title{
	margin-top:1px;
	position: absolute;
}

.filter-show-btn{
	margin-top:20px;
	width: 35px;
	height: 35px;
	padding: 7px;
	background-color: red;
	/*border-radius: 50%;*/
	float:left;
	margin-right:20px;

}
.glass{
	/* background styles */
	position: relative;
	display: inline-block;
	background-color: #FFC107;
    background-image: linear-gradient(#848484,#c5c5c5);
	/* text styles */
	text-decoration: none;
	font-style: 'bold'';
	font-family: 'Oswald', sans-serif;
}
.glass:after{
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: 50%;
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}
.glass:hover{
	background: linear-gradient(#073,#0fa);
}
