/* Show More Input */


/* ===================================
END: LOADING ICON FOR LOGGING OUT USER
=================================== */
body{
    background-color: #535353;
    font-family: 'Average';
}
.op_view {

    background-image: url("assets/img/background.jpg");

}
/* HEADER
===================== */

header .navbar {
    border-radius: 0;
}

.reset {
    float: right;
}

/* NGANIMATE
====================== */
label{
    font-weight: 600!important;
}

/* show and hide */

.show-hide-message.ng-hide-remove {
    -webkit-animation: zoomIn 0.3s both ease;
    -moz-animation: zoomIn 0.3s both ease;
    animation: zoomIn 0.3s both ease;
}


/* ANIMATIONS
====================== */

.spinner {
    -webkit-animation: spin 1s infinite;
    -moz-animation: spin 1s infinite;
    animation: spin 1s infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}


/*===========================================
        Modal css for image view
===========================================*/
#myModal .modal-dialog , #sampleModal .modal-dialog{
    margin-top:50px;
    width:auto!important;
    text-align: center;
}
#myModal .modal-content ,#sampleModal .modal-content{
    display: inline-block;
    margin:0 auto;
}
#myModal .modal-body ,#sampleModal.modal-body{
    position: relative;
    overflow-y: auto;
    width:100%;
    max-height: 800px;
    padding: 15px;
}

#stripModal{
    margin-top:100px;
}


/*=======================================
    Font
=======================================*/
#logo{
    position: absolute;
    top:40px;
    left:750px;
    font-size: 0px;
    font-family: "ABeeZee",'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}
#logo1{
    font-size: 70px;
    font-family: 'Lobster', helvetica, arial;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}


.top-nav{
    background-color: #fbfbfb;
    width:100vw;
    height: 83px;
    border-bottom: 1px solid black;
}

.notify{
    position: absolute;
    right:100px;
    top: 55px;
    font-size: 18px;
}
.main-btn-group{
    position: absolute!important;
    top:30px;
    left: 300px;
    float: left;
}

.navbar-default{ /* assigning the top bar to the entire navbar div element */
    text-align: center;

}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    border-bottom:1px solid blue;
    /*box-shadow: inset 0px 0px 0px 2px #000; /* switch to a darker color on hover */
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    border-bottom:1px solid blue;
    /*box-shadow: inset 0px 2px 0px #AAA;  switch to a lighter color for active element */
}
.status_panel{
    width:13%;
    margin-left: 10px;
    float:left;
    /*    display: inline-block;*/
}
.eid_btn{
    width:200px;
}
.snapshot-status{
    position: absolute;
    margin-left:20px;
    margin-top:10px;

}
.circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    /* width and height can be anything, as long as they're equal */
}
.red{
    background-color: red;
}
.dodgerblue{
    background-color: dodgerblue;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}

.double-border {
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 1px;
    width: 20px;
    height: 20px;
    position: relative;
    margin: 0 auto;
}
.double-border:before {
    border-radius: 50%;
    background: none;
    border: 1px solid #fff;
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    pointer-events: none;
}

.block-dev{
    display: inline-block!important;
    height: 70px!important;
    overflow: auto;
    width:70%!important;
}


.instance-view{
    margin-left: 0px;
    width:452px;
    float: left;
    border: 1px solid #ccc5c5;
}

.small-input{
    width:150px!important;
}
.stack-content{
    padding:10px;
}
.stack-list{
    padding:50px;
    padding-top:10px;
}
.right{
    float: right;
}
.stack-list .stack-content .stack-header{
    padding:10px;
    background-color: lightblue;
    border-radius: 0 0 12px 12px;
}
.stack-list .stack-content .stack-header label{
    margin:0 20px;
}
.label{
    font-size: 14px!important;
}
.stack-list .stack-content .stack-header button{
    margin-right:20px;
}
.stack-list .stack-content .stack-body{
    padding:10px;
}

.stack-list .stack-body{
    border:1px solid #959a9d;
    border-radius: 5px 5px 12px 12px;
}

.stack-list .stack-content .stack-body .row{
    margin:0px;
    margin-top:5px;
    padding:0 10px;
}

.stack-list .stack-content .stack-body .row .stack_id{
    width: 25%;
}
.stack-list .stack-content .stack-body .row .stack_time{
    width: 25%;
}
.stack-list .stack-content .stack-body .row .stack_status{
    width: 25%;
}
.stack-list .stack-content .stack-body .row .stack_des{
    width: 83.4%;
}
.stack-list .stack-content .stack-body .row .stack_role{
    width: 50%;
}

.pagination{
    margin:0 100px;
}
.pagination li a{
    border-radius: 0!important;
}

.create-stack{
    margin-left: 10px;
}

.new-stack-content{
    margin:30px;
    border:1px solid black;
    padding:10px;
}

.squre-green{
    width:10px;
    height: 10px;
    float:left;
    margin-top:5px;
    background-color: green;
}
.squre-red{
    width:10px;
    height: 10px;
    float:left;
    margin-top:5px;
    background-color: red;
}

.circle-green{
    width:10px;
    height: 10px;
    border-radius: 50%;
    float:left;
    margin-top:5px;
    background-color: green;
}

.left{ float:left; margin-left:5px;}
.ml50{ margin-left: 50px;}
.ml40{ margin-left: 40px;}
.ml30{ margin-left: 30px;}
.ml20{ margin-left: 20px;}
.ml10{ margin-left: 10px;}
.mt50{ margin-top: 50px;}
.mt40{ margin-top: 40px;}
.mt30{ margin-top: 30px;}
.mt20{ margin-top: 20px;}
.mt10{ margin-top: 10px;}
.mt-3{ margin-top: -3px;}
.ml0 { margin-left:0px;}
.mb10 { margin-bottom :10px; }
.mb20 { margin-bottom :20px; }
.mb30 { margin-bottom :30px; }
.mb0 {margin-bottom: 0px;}
.h100 {height:100px;}
.h60 {height:60px;}
.w100 {width:100px!important;}
.w90 {width:80px!important;}
.w80 {width:80px!important;}
.w150 {width:150px;}
.h60 {height:60px;}
.right{ float: right; margin-right: 5px;}
.scroll{
    overflow:auto;
}
.side_showBtn{
    width: 50px;
    height: 30px;
    background-color: #fff;
    border : 1px solid #ccc;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 5px 5px 5px #aaa;
    font-size:20px;
    cursor: pointer;
    float: left;
}
.side-toggle{
    padding-top:5px;
}

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

/*.checkbox label input[type="checkbox"],*/
/*.radio label input[type="radio"] {*/
/*display: none;*/
/*}*/

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

.tag-input{
    width:100%;
    height: 100%;
    border: none;
}
.detail-item{
    margin-bottom:8px;
}
.acc-group ,.acc-group label{
    font-family:ABeeZee,'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
}
.acc-group button{
    font-size:12px!important;
    font-weight: 700!important;
    font-family: ABeeZee,'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.acc-group>button{
    font-size:14px!important;
    font-weight: 700!important;
    font-family: 'ABeeZee','Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.acc-group select{
    background: transparent;
    border:none;
    border-bottom: 1px solid #d5d5d5;
}
.acc-group input{
    background:transparent;
    border:none;
    border-bottom: 0px solid #d5d5d5;
    color:#333;
    font-family:ABeeZee,'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.acc-group content select{
    color:#6c0000!important;
}

.hg_accordion_element h3{
    margin-top:0px!important;
}
.detail-item .col-xs-3 , .detail-item .col-xs-9 {
    padding:0px;
}
.box-label{
    font-family: 'ABeeZee','Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif!important;
    font-size:14px;
    font-weight: 600!important;
    margin-top: 6px;
}
.btn-action,.btn-action:hover,.btn-action:active,.btn-action:focus{
    background-color: #2F4F4F;
    border-color: #2F4F4F;
    color:white;
}
.acc-group .content{
    overflow: auto;
}